* { box-sizing:border-box; -webkit-box-sizing:border-box;}

body{ margin:0; padding:0;   font-family: 'opensans';

text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;
font-smooth: always;

font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-webkit-font-smoothing: subpixel-antialiased; }


@font-face {
    font-family: 'opensans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.main {
	background-image:url(../images/actmain.jpg);
	background-repeat:repeat;
}
.acr_bg {
	width:100%;
	height:100%;
	background-image:url(../images/act_bg.jpg);
	background-repeat:no-repeat;
	position:fixed;
	background-size: 100%;
}
.act_code {
/*	width:40%;
	height:10%;
	position:fixed;
	top:61%;
	left:48%;
	border:solid 0px #00F;*/
	width:100%;
	float:left;
	margin-bottom:4vh;
	
}
.act_code ul {
	margin:0px;
	padding:0px;
}
.act_code ul li {
	list-style:none;
	width:4vw;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	font-weight:bold;
	text-align:center;
	margin:0 1%;
	padding:0.3em 0.5em;
	background-image:url(../images/libg.png);
	font-size:1.8em;
	color:#fff;
	background-repeat:repeat;
	border-radius:0.1em;
}
.cnl {
	position:absolute;
	width:10vw;
	height:7vh;
    margin-left: 13vw;
    margin-top: 0;
	background-size:100%;
	background-image:url(../images/cnl.png);

	background-repeat:no-repeat;
}
.act_cn {
    position: fixed;
    top: 28vh;
    right: 5vw;
    width: 49vw;
}
.act_cn p { color:#cacac9; font-size:1.1em; margin-bottom:4vh; letter-spacing:1px;}
.act_cn p span { text-decoration:underline;}

@media (min-width:955px)and (max-width:965px) {
	.act_cn {     top: 20vh;}
	.act_cn p {     font-size: 0.9em; margin-bottom:1.5vh;}
	.act_code ul li { font-size: 1em;}
	.act_code { height:auto; margin-bottom:3vh;}
	.cnl { margin-top:0px;}
	}

