@charset "utf-8";
/* CSS Document */

/*common classes for landing and category*/

@font-face{font-family:'Roboto-Regular';src:url(../fonts/Roboto-Regular.eot);src:url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),url(../fonts/Roboto-Regular.woff2) format('woff2'),url(../fonts/Roboto-Regular.woff) format('woff'),url(../fonts/Roboto-Regular.ttf) format('truetype'),url(../fonts/Roboto-Regular.svg#Roboto-Regular) format('svg')}


/*@font-face {
 font-family:'Precious';
src:url(../fonts/Precious/Precious.eot);
src:url(../fonts/Precious/Precious.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Precious/Precious.woff2) format('woff2'),
    url(../fonts/Precious/Precious.woff) format('woff'),
    url(../fonts/Precious/Precious.ttf) format('truetype'),
    url(../fonts/Precious/Precious.svg#Precious) format('svg')
}*/

body{ /* background-color:#07102f;  */ background-color:#000; outline:none;font-family:'Roboto-Regular',Arial, Helvetica, sans-serif !important;  }
@font-face{font-family:'Roboto-Regular';
src:url(../fonts/Roboto-Regular.eot);
src:url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Roboto-Regular.woff2) format('woff2'),
    url(../fonts/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto-Regular.ttf) format('truetype'),
    url(../fonts/Roboto-Regular.svg#Roboto-Regular) format('svg')}

.mainDivStyle{
   margin-top: 10%;
}
.preloaderCont {
    width: 5%;
    height: 5%;
    position: fixed;
    top: 47.5%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left: 44.5%;
    z-index: 99999999;
}

.preloaderContLand {
    width: 5%;
    height: 5%;
    position: fixed;
    top: 47.5%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left: 42.3%;
    z-index: 99999999;
}

#regPreload{
   top: 77.5%; 
}

.preloaderContDescribe {
    width: 5%;
    height: 5%;
    position: fixed;
    top: 47.5%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left: 44.5%;
    z-index: 99999999;
}

.buttonsTextSettings{
  width: 40%;
  float: left;
  margin-top: -6%;
  margin-left:5%;
}

.videoContSettings{
      width: 55%;
    float: right;
    height: 500px;
    margin-top: 7.5%;
}



.landing_bgimage{ 
    width: 100%;
    height: 85%;
    background-size: 85% !important;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    /*background-image: url("https://s3.amazonaws.com/damedashstudios-platformx/2016/11/02/DDS_CultureVultureS1E2_Poster.jpg");*/
    background-repeat: no-repeat !important;
    background-position: top right !important;
}

.episodeInactive {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.landing_synopys{ 
   
    color:#fff; 
    font-size:15px; 
    line-height:20px; 
    clear: both;
    overflow: hidden;
   /* max-height: 200px; */
    position: relative; 
    margin-bottom: 40px;

    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    
} 

.landhome{
    width: 190px !important;
    height: 190px !important;
    margin-left: 0% !important;
    margin-top: -1.7% !important;
}

.synopsys_1{ 
 color:#fff; 
 font-size:28px;
  line-height:40px;
   clear: both; 
   overflow: hidden;
    max-height: 200px; 
    position: relative; 
  }

.landing_castAndCrew{ 
    

    color:#fff; 
    font-size:20px; 
    line-height:40px; 
    clear: both;
    overflow: hidden;
    max-height: 200px; 
    position: relative; 
   /* text-align: justify; */
} 

/*.landing_synopys:before {
  content: '...';
  position: absolute;
  bottom: 0;
}
.landing_synopys:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
}*/

.landingPage_blackscreen{
    
    width:65%; 
    height:100%; 
    min-height:300px;
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 5%, rgba(0,0,0,1) 27%, rgba(0,0,0,0.86) 41%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 5%,rgba(0,0,0,1) 27%,rgba(0,0,0,0.86) 41%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,1) 5%,rgba(0,0,0,1) 27%,rgba(0,0,0,0.86) 41%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
position:fixed; 
left: 0;
top: 0;
z-index: 9;
}

.descriptionData{
    width: 60%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -3%;
    /*margin-top: 1%;*/
}


.categoryMenu { 
    width: 25%;
    float: left; 
    position: fixed;
    height: 100%;
    z-index: 9;
    margin-top: 50px;
}
.categoryMenu .filterMenu ul li{
    list-style-type: none;
    font-size: 20px;
    color: #fff;
    line-height: 52px;
    display: block;
    padding-left: 20px;
    
}

.categoryMenu .filterMenu {
    padding: 10% 5% 10% 10%;
}
.categoryData {
    width: 75%;
    right: 0;
    height: 470px;
    overflow: hidden;
    position: fixed;
    margin-top: 30%;
    z-index: 9999;
    top: 0;  
    
}

.searchData {
    width: 75%;
    right: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    margin-top: 100px;
    z-index: 9999;
    top: 0;  
    
}

.searchData .thumbsList {
    margin-bottom: 10px;
}
.searchData .thumbsList li {
    list-style-type: none;
    width: 30%;
    height: 199px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    background: #4a4a4a;
    float: left;
}
.searchData .thumbsList li img{
    width: 100%;
}


.categoryData .thumbsList {
    margin-bottom: 10px;
}
.categoryData .thumbsList li {
    list-style-type: none;
    width: 23%;
    height: 10%;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    background: #4a4a4a;
    float: left;
}
.categoryData .thumbsList li img{
    width: 100%;
}
.cate_buttonactive{ 
    color:#000 !important; 
background: rgb(255,255,255); 
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(219,217,218,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(219,217,218,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(219,217,218,1) 100%); 

border-radius:5px; 

}

.gradient_class{
    width:100%; height:69%;position:fixed;bottom:0;left:0;z-index:99;

background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.gradient_classSide{
    width:100%; height:69%;position:fixed;bottom:0;left:0;z-index:999;

background: -moz-linear-gradient(45deg,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.hidedivclass{display: none;}


.border
{
    width:238px; 
    height:133px;
    outline:8px solid #00ccff;
    outline-offset: -8px; 
 
     position:fixed; 
     z-index:999999; 
     /*left: 9.6%;*/
}

.borderSearch
{
       width: 179px;
    height: 100px;
    outline: 4px solid #00ccff;
    outline-offset: -4px;
    position: fixed;
    z-index: 999999;
    left: 337px;
    margin-top: 50px;
}

.borderEpisodes
{
    width:233px; 
    height:137px;
    outline:8px solid #00ccff;
    outline-offset: -8px; 
    margin-top: 3px;
     position:fixed; 
     z-index:999999; 
     left: 31%;
}

.borderLanding
{
    width:245px; 
    height:128px;
    outline:8px solid #00ccff;
    outline-offset: -8px;
     position:fixed; 
     z-index:999999; 
     left: 10.4%;
     margin-top: 40px;
}

 #video_player {
            display: none;
        }
        ul {
            list-style: none outside none;
            padding-left: 0;
            margin: 0;
        }
        .demo.item {
            margin-bottom: 60px;
        }

        .image {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            -webkit-animation: spin 0.5s linear infinite;
            -moz-animation: spin 0.5s linear infinite;
            animation: spin 0.5s linear infinite;
            z-index: 999999;
        }

        .imagev {
           
            width: 70px;
            height: 70px;
            -webkit-animation: spin 0.5s linear infinite;
            -moz-animation: spin 0.5s linear infinite;
            animation: spin 0.5s linear infinite;
            z-index: 999999;
        }

          .imageLoad {
            
            width: 70px;
            height: 70px;
            -webkit-animation: spin 0.5s linear infinite;
            -moz-animation: spin 0.5s linear infinite;
            animation: spin 0.5s linear infinite;
            z-index: 999999;
        }
         .imageLoadDescribe {
            position: fixed;
            top: 40%;
            left: 25%;
            width: 70px;
            height: 70px;
            -webkit-animation: spin 0.5s linear infinite;
            -moz-animation: spin 0.5s linear infinite;
            animation: spin 0.5s linear infinite;
            z-index: 999999;
        }
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
        .lSPager {
            display: none;
        }
        .active {
            /* opacity: 1 !important;
            outline: #FFFFFF solid 4px;
            outline-offset: -2px;
            text-align: center;
            padding-bottom: -5px;
            transform-origin: center;
            */ border:2px solid #fff;
        }
        .movieCategory_landingPage {
            height: 240px;
            margin-bottom: 10px;
        }
        .imgList {
            margin-right: 15px;
            float: left;
            margin-bottom: 15px;
        }
        .imgLst {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -1;
        }
/*.ddlogo{ width: 70px;
    height: 70px;
    top: 40.9%;
    left: 45.8%;
    position: fixed;}*/

    .preloader_logo{ width: 50px;
    height: 50px;
    position:absolute;
    margin: 10px 10px;
    }

/*.preloader3 {
   width:85px;
   height:85px;
   display:inline-block;
   padding:0px;
   border-radius:100%;
   border:5px solid;
   position:fixed;
   top:40%;
   left:45%;
   border-top-color:rgba(236,28,35, 1);
   border-bottom-color:rgba(236,28,35, 1);
   border-left-color:rgba(0,0,0, 0.15);
   border-right-color:rgba(0,0,0, 0.15);
   -webkit-animation: preloader3 0.8s ease-in-out infinite alternate;
   animation: preloader3 0.8s ease-in-out infinite alternate;
}*/
.preloader3 {
   width:70px;
   height:70px;
   display:inline-block;
   padding:0px;
   border-radius:100%;
   border:4px solid;
   
   position:absolute;
   border-top-color:rgba(0,0,0, 0.8);
   border-bottom-color:rgba(0,0,0, 0.8);
   border-left-color:rgba(242,178,181, 1);
   border-right-color:rgba(242,178,181, 1);
   -webkit-animation: preloader3 0.8s ease-in-out infinite alternate;
   animation: preloader3 0.8s ease-in-out infinite alternate;
}
@keyframes preloader3 {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader3 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}

#episodeList
{
    height: 100vh;
    width: 61%;
    /*border: 2px solid #f00;*/
    overflow: hidden;
    position: fixed;
    top: 5%;
    left: 36%;
}

.clearDiv{
    clear:both;
}


.desc_txt_tvshow_category{ 
   height: 100%;
    width: 31%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 60px 0 0 35px;
    /*border: 2px solid #ff0;*/
}
.desc_txt_tvshow_category h2{  font-size:28px; color:#fff; margin-bottom:10px;}
.desc_txt_tvshow_category ul{ list-style:none;}
.desc_txt_tvshow_category ul li{ float:none;}

/*category select*/

.categoriesWrap_sel{ position:fixed; top:40%; left:20%; height:100px; text-align:center; box-sizing:border-box; z-index:9; right:20%; }

.icon_sel{ width:100px; height:140px; float:left; margin:38px 5.639%; transition:all ease-out 0.2s; text-align:center; padding-top: 16%; box-sizing: border-box;}
.icon_sel:hover{ transform:scale(1.5); -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0px 0px 10px rgba(255,255,255,2));
        -ms-filter: drop-shadow(0 0px 10px rgba(255,255,255,2));
        -o-filter: drop-shadow(0 0px 10px rgba(255,255,255,2));
        filter: drop-shadow(0 0px 10px rgba(255,255,255,2));
        color:#fff !important;
    }

.active_sel{ transform:scale(1.5);  -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0 0px 10px rgba(255,255,255,2));
        -ms-filter: drop-shadow(0 0px 10px rgba(255,255,255,2));
        -o-filter: drop-shadow(0 0px 10px rgba(255,255,255,2));
        filter: drop-shadow(0 0px 10px rgba(255,255,255,2));
        color:#fff !important;
    }

.search_sel{ background-image:url(../images/zoom.png); background-size:100%; background-position:50% 50%; background-repeat:no-repeat;}

.categories_sel{ background-image:url(../images/catIcon.png); background-size:80%; background-position:50% 50%; background-repeat:no-repeat;}

.settings_sel{ background-image:url(../images/settings.png); background-size:80%; background-position:50% 50%; background-repeat:no-repeat;}

.exit_sel{ background-image:url(../images/exit.png); background-size:80%; background-position:50% 50%; background-repeat:no-repeat;}


.blackscreenCat_sel{ background-color:rgba(0,0,0,0.5); position:fixed; top:0; left:0; right:0; bottom:0; z-index:7;}

.bgimage_sel{ background-image:url(../images/avengers.jpg); background-size:100%; background-position:50% 50%; background-repeat:no-repeat; position:fixed; z-index:5;}

.txtdesc_sel{ text-align: center;
    font-size: 20px;
    position: fixed;
    color: #666;
	top: 70%;
  /*  bottom: 27%;*/
    /* left: 50%; */
    z-index: 10;
    margin: 0 !important;
    font-weight: bold;
    display: block;
    width: 100%;}

.icondesc_sel{  color:#999; font-size:20px; text-transform: uppercase; font-weight: bold; }


/*end of category select*/

/* styles */

.ddlogobottom{ width:320px; height:120px; /*border:#CCC 1px solid;*/ position:fixed; bottom:0; right:2%;left: 83%; z-index:99999; 
background:url(../images/logoBottom.png); background-size:50%; float:right; background-repeat:no-repeat; 

}



.showbuttons{ width:500px; height:300px; float:left; margin-top:20px; padding:10px 10px 0 0;}

.showbuttons2{ width:500px; height:300px; float:left; margin-top:20px; padding:10px 10px 0 0;}

.showbuttons2 ul{ margin:0;}

.showbuttons2 li{ list-style:none; }

.movieDesc_14{ color:#bbbfca; font-weight:bold; font-size:16px; margin-right:15px; margin-bottom:10px; float:left; margin-left: 0px; margin-top: 10px;}


.watch{ color:#909090; font-weight:bold; font-size:18px; margin:10px 0; width:240px; }

.R{     
    width: 40px;
    height: 30px;
    background-image: url(../images/r.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    float: left;
    background-position: 50%;
    margin: 0; 
}

.hd{ width: 30px; height:20px; background-image:url(../images/hd.svg); background-size:100%; background-repeat:no-repeat; display:block; float:left; background-position-y:50%; margin:1px 5px;}

.pullright{ float:right; margin-right:10px;}

.mainTitle_12{ font-size:24px !important; color:#fff; margin-left: 0px; margin-top: 0px;}



/*end of common classes*/

/*Search page CSS*/

.gb_btn{   width: 30px; height: 30px; float:left;   height: 30px; margin-right: 2%;  margin-left: -6%;
    margin-top: -7%;
    background-size: 71%; background-image:url(../images/back_aro.png) !important; background-repeat:no-repeat;}
.gb_act {
      width: 30px;
    height: 30px;
    margin-right: 5%;
    margin-left: 40%;
    margin-top: -2%;
    float: left;
    background-size: 80%;
    background-image: url(../images/back_aro2.png) !important;
    background-repeat: no-repeat;
}
.searchCont{ width:100%; margin:110px auto; height:auto;position: fixed; margin-left: 5%;z-index: 999;}
.searchCont .srh_blk { width:190px; height:70px; float:left; margin-bottom:20px; margin-left: 4px;}
.searchCont .srh_blk_settings{width:75%; height:70px; float:left; margin-bottom:20px; margin-left: 4px;}
.searchCont .srh_blk_settings  { background-color:transparent; border: solid 1px #fff; color:#fff; font-size:15px;     padding: 15px 95px 15px 30px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.searchCont .backButtonPreview {
     width:100%; height:70px; float:left; margin-bottom:20px; margin-left: 70px;
}
.searchCont .searchBack { width:85%; height:70px; float:left; margin-bottom:20px; }
.keyboard{ width:30%; float:left ;margin-left: 5%;}
.searchCont .srh_blk  { background-color:transparent; border: solid 1px #fff; color:#fff; font-size:15px;     padding: 15px 95px 15px 30px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.searchCont .backButtonPreview {
    background-color:transparent; border: solid 1px #fff; color:#fff; font-size:26px; padding:15px 40px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.aln_cn { text-align: center; padding:12px 9px !important; }
.searchCont .searchBack  { background-color:transparent; border: solid 1px #fff; color:#fff; font-size:13px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
text-align: center;
line-height: 70px;
border-radius: 5px;}
.searchCont .keypad { width:100%; float:left;}
.searchCont .keypad .ltr { font-size:22px; color:#fff; text-align:center; text-decoration:none; width:37px; height:42px; background-color:#272727; float:left; line-height:50px; margin:3px;}
.searchCont_active { background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); color:#000;}

.searchCont .keypad .spc {
 font-size:36px; 
 color:#fff;
  text-align:center; 
  text-decoration:none; 
  width:123px;
   height:43px; 
   background-color:#272727; 
   float:left; 
   line-height:8px; 
   margin:3px;}
.searchCont .keypad .spc:hover { background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); color:#000;}
.searchCont .keypad .bk_aro {     line-height: 43px; font-size: 34px;}
.buttonsText{ width:300px;  float:left; }
.buttonsText h2 { font-size:38px; color:#fff; font-weight:normal; margin-top:0px;padding-bottom: 20px;}
.src_nav_settings{float: left; width:100%; margin-top:40px; height:280px;}
.src_nav_settings ul { margin:0px; padding:0px;}
.src_nav_settings ul li { list-style:none; color:#fff; font-size:16px; margin-bottom:10px; padding:17px; padding:5px;}
.src_nav_settings_active { background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); color:#383838 !important;}
.src_nav { float: left; width:100%; margin-top:40px; height:280px;}
.src_nav ul { margin:0px; padding:0px;}
.src_nav ul li { list-style:none; color:#fff; font-size:30px; margin-bottom:10px; padding:17px;}
.src_nav_active { background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); color:#383838 !important;}

.videoCont{ width:65%;  float:right; height:500px; margin-top: 10%;}
.videoContSearch{ width:65%;  float:right; height:500px; }
.videoCont h2 { font-size:40px; color:#fff; font-weight:normal; margin-top:12px; }
.vid_blk { width:100%; float:left;}
.vid_blk ul { margin:0; padding:0px;}
.vid_blk ul li { list-style:none; }

.vid_blk .vid { width:179px; height:100px; float: left; margin-right:15px; margin-bottom:15px;}
.vid_blk .vid img { width:100%;}
.gb { margin:0px !important; width:100%;}
.gb input { width:100%; text-align:left;}
.gb input:hover { background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); color:#383838 !important;}
.ft_btns input { margin-bottom:10px}
.videoCont h3 { font-size:36px; color:#fff; font-weight:normal; margin:0 0 10px 0;} 
/*.videoCont p { font-size:24px; color:#fff; margin-top:20px; margin-bottom:25px; line-height:32px; } */

.videoContEmail {
    font-size: 16px;
    color: #fff;
   margin-top: 0;
    margin-bottom: 4px;
    line-height: 32px;
}

.videoContPlan {
    font-size: 16px;
    color: #fff;
        margin-top: 10px;
    margin-bottom: 0px;
    line-height: 32px;
}

.videoContExpiry {
    font-size: 16px;
    color: #fff;
        margin-top: 6px;
    margin-bottom: 25px;
    line-height: 32px;
}


/*end of search page*/


/*categoryPage css*/
.desc_cont_category{ width:100%; height:500px;  box-sizing:border-box; }

.blackscreen_category{width:100%; height:100%; min-height:500px;

/ Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#07102f+1,07102f+100&1+31,0+53 /

background: linear-gradient(to right,rgba(7,16,47,1) 5%,rgba(5,12,36,1) 27%,rgba(4,10,29,0.86) 41%,rgba(0,0,0,0) 100%);
 / W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ /


display:inline-block; position:absolute;}

.mainTitle_category{  font-size:38px !important; color:#fff;margin-left:60px;}

.thumbsCont_category{ 
width:100%; height:53%; position:fixed; top:50%; left:28%;z-index:9999;
overflow:hidden; margin-bottom:30px;
}

.desc_txt_category{ width:800px; height:auto;position:absolute; margin: 95px 0 0 90px; z-index:99999;}
.desc_txt_category ul li{ float:none;}


.desc_txt_tvshow1 ul li{ float:none;padding:5px;}
/* .activebutton_category{ text-decoration:none; width:270px; height:18px; display:block; padding:10px 0 10px 10px; border:1px solid ; border-color:transparent;text-align:left; line-height:18px; font-family:'open_sansbold', sans-serif; color:#fff; font-weight:bold; font-size:21px; margin-bottom:10px;color:#000;    margin-left: 60px;

background: rgb(255,255,255); / Old browsers /

background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(219,217,218,1) 100%) ; / FF3.6-15 /

background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(219,217,218,1) 100%) ; / Chrome10-25,Safari5.1-6 /

background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(219,217,218,1) 100%) ; / W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ /

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbd9da',GradientType=0 ); / IE6-9 /

border-radius:3px;

/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);} */

.activebutton_category {   text-decoration: none;
    width: 190px;
    height: 40px;
    display: block;
    padding: 10px 0 10px 10px;
   /* padding-left:73px;*/
    border: 1px solid;
    border-color: transparent;
   /* text-align: left;*/
    float:left;
    line-height: 17px;
   
    color: #fff;
    
    font-size: 12px;
    margin-bottom: 2px;
    margin-left: 0px;
   
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 40px;}

.seasonValue {   text-decoration: none;
    width: 450px;
    height: 60px;
    display: block;
    padding-left:73px;
    border: 1px solid;
    border-color: transparent;
   /* text-align: left;*/
    float:left;
    font-weight: bold;
    line-height: 60px;
    
    color: #fff;
    
    font-size: 30px;
    margin-bottom: 14px;
    margin-left: 61px;
   
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 40px;}

    .episodeValue {   text-decoration: none;
    width: 450px;
    height: 60px;
    display: block;
    padding-left:73px;
    border: 1px solid;
    border-color: transparent;
   /* text-align: left;*/
    float:right;
    font-weight: bold;
    line-height: 60px;
     
    color: #fff;
    
    font-size: 30px;
    margin-bottom: 14px;
    margin-left: 61px;
   
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 40px;}
/*css for arrow*/
.arrow12 {
    position: fixed;
    top: 65%;
    height: 100px;
    width: 20px;
    left: 2%;
    z-index: 9999;
    background-image: url(../images/arrowLeft.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;}

/*removing from mylist in category page*/
.removefromlist {  text-decoration: none;
    width: 450px;
    height: 60px;
    display: block;
    padding-left:73px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 60px;
    margin-left:61px;
    

    color: #fff;
    
    font-size: 30px;
    margin-bottom: 14px;
    background-image: url(../images/DetailsIcons/removeList.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 36px;
}

 .removefromlist_active{ 
     
    width: 450px;
    height: 60px;
    display: block;
    margin-left:61px;
    padding-left:73px;
    text-align: left;
    line-height: 60px;
    
    font-size: 30px;
    margin-bottom: 14px;
    background-size: 36px;
    background-position: 5% 50%;
    color:#000;
    background-image: url(../images/DetailsIcons/removeList_hover.svg);
    border-radius:5px;
    background-color:#eaeaea;
    background-repeat: no-repeat;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1); */}

/*end of removing from mylist in category page*/

/*episode active class*/

.episodelist_active
{
     color:#000;

    background-image: url(../images/DetailsIcons/episodes_hover.svg) !important;
    border-radius:5px;
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/
}


/*end of episode active class*/

/*episode season dropdown*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*end of episode season drop down*/

.detail_poster{ width:80%; height:100%; background-image:url(../images/posters/details_poster.jpg); background-size:100%; float:right; background-repeat:no-repeat; }

.movieDesc_dur{ color:#bbbfca; font-weight:bold; font-size:26px; margin-right:15px; margin-bottom:10px; float:left;margin-left:60px;}


.catActive
 {
 color:#000000;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffe8+0,bcbcbc+78 */
background: rgb(254,255,232); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(254,255,232,1) 0%, rgba(188,188,188,1) 78%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(188,188,188,1) 78%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,255,232,1) 0%,rgba(188,188,188,1) 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */

 /*---outer Glow---
 -webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
 -moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
 box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/

  border-radius:4px; border:1px solid #fff;
 }

.catActive_play{ color:#f00;

background: rgb(255,255,255) url(../images/DetailsIcons/ps1_hover.svg) 5% 50% no-repeat ; background-size:7%;/* Old browsers */


border-radius:3px;

/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/ }
 

 .Transfer
 {
  left: 15px;
 }

.cc_category{ width: 30px; height:20px; background-image:url(../images/cc.svg); background-size:100%; background-repeat:no-repeat; display:block; float:left; background-position-y:50%; margin:2px 5px; }

 .desc_cont_category{ width:100%; height:500px;  box-sizing:border-box; }

.blackscreen_category{width:100%; height:100%; min-height:500px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#07102f+1,07102f+100&1+31,0+53 */

background: linear-gradient(to right,rgba(7,16,47,1) 5%,rgba(5,12,36,1) 27%,rgba(4,10,29,0.86) 41%,rgba(0,0,0,0) 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


display:inline-block; position:absolute;}

.mainTitle_category{   font-size:38px !important; color:#fff;margin-left:60px;}

.thumbsCont_category{ 

width:100%; height:53%; position:fixed; top:50%; left:28%;z-index:9999;

overflow:hidden; margin-bottom:30px;
}

.movieCategory_category{ width:250%; height:46%; float:left; margin-bottom:35px;}

.movieCategory_category ul{ list-style:none; margin-left:0px;}

.movieCategory_category ul li a{ display:block; margin:10px 20px 10px 0; }

.categories_category{ margin: 30px 0 0 30px;  outline:none; display:inline; }

.categories_category li { list-style:none; text-decoration:none;  width:38%; height:16px; display:block; border:1px solid #fff;
 border-radius:3px;padding:22px;
 border-color:transparent;text-align:left; line-height:16px; color:#EAEAEA;
  font-size:30px; margin-bottom:8px;margin-left:10px;}


.ImageMargin1_category
{
outline:6px solid #00ccff; outline-offset:-7px;
}

.loading2_category 
{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    top:50%;
    left:50%;
    position:fixed;
    z-index:999;
}

.ps1_category {  text-decoration: none;
    width: 450px;
    height: 60px;
    display: block;
    padding-left:73px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 60px;
    margin-left:61px;
    
    color: #fff;
    
    font-size: 30px;
    margin-bottom: 14px;
    background-image: url(../images/DetailsIcons/ps1.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 36px;
}

.ps1_active_category { color:#000;

    background-image: url(../images/DetailsIcons/ps1_hover.svg);
    border-radius:5px;
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/ }

.addlist_active_category{
    width: 450px;
    height: 60px;
    display: block;
    margin-left:61px;
    padding-left:73px;
    text-align: left;
    line-height: 60px;
    
    font-size: 20px;
    margin-bottom: 14px;
    background-size: 36px;
    color:#000;

    background-image: url(../images/DetailsIcons/addlist_hover.svg) ;
    border-radius:5px;
    background-color:#eaeaea;
    background-repeat: no-repeat;
    background-position: 5% 50%;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/
}

.addlist_category {  text-decoration: none;
    width: 450px;
    height: 60px;
    display: block;
    margin-left:61px;
    padding-left:73px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 60px;
    
    color: #fff;
    
    font-size: 19px;
    margin-bottom: 14px;
    background-image: url(../images/DetailsIcons/addlist.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 36px;}

    .rating_active_category
{
  color:#000;

    background-image: url(../images/DetailsIcons/rating_hover.svg) !important;
    border-radius:5px;
    background-color:#eaeaea;
    background-repeat: no-repeat;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/     
}

.episodes_category {   text-decoration: none;
    width: 450px;
    height: 60px;
    display: block;
    padding-left:73px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 60px;
   
    color: #fff;
    
    font-size: 30px;
    margin-bottom: 14px;
    margin-left: 61px;
    background-image: url(../images/DetailsIcons/episodes.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 40px;}

.poster_category{ width:70%; height:75%; background-image:url(../images/posters/MadameLeChat_SmallThumbnail.png); background-size:100% 100%; position:fixed; right:0; top:0; z-index:-1; background-repeat:no-repeat; }

.poster_sanandreas_category{ width:77%; height:76%;  background-image:url(../images/posters/sanAndreasPoster.jpg); background-size:100%; float:right; background-repeat:no-repeat; }

.movieDesc_category{ color:#bbbfca; font-weight:bold; font-size:26px; margin-right:15px; margin-bottom:10px; float:left;margin:1px 5px;}

.synopsys_category{ color:#aeaeae; font-size:28px; line-height:24px; float:left;}
.synopsys_category span{ color:#999994; font-size:16px; line-height:5px;;}

.poster_sanandreas{ width:80%; height:100%; background-image:url(../images/posters/sanAndreasPoster.jpg); background-size:100%; background-repeat:no-repeat; }
/*end of category page css*/









/*landing page css*/

.block2{
    width: 100%;
    position: absolute;
    z-index: 999999;
}

.desc_cont_landingPage{ width:100%; height:50%;  }
.desc_txt_landingPage {
    z-index: 99999; 
    position: absolute;
    float:left;
    top:0;
    width:25%;
    margin:40px 0 0 40px;
}
.desc_txt_landingPage ul{ list-style:none;}

.desc_txt_landingPage ul li{ float:none; margin:15px 0;  }

.activebutton_landingPage{ text-decoration:none; width:338px; height:23px; display:block; padding:10px 0 10px 10px; border:1px solid ; border-color:transparent;text-align:left; line-height:18px;  color:#fff; font-weight:bold; font-size:25px; margin-bottom:10px;color:#000; 

background: rgb(255,255,255); /* Old browsers */
margin-left: 10%;
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(219,217,218,1) 100%) ; /* FF3.6-15 */

background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(219,217,218,1) 100%) ; /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(219,217,218,1) 100%) ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbd9da',GradientType=0 ); /* IE6-9 */

border-radius:3px;

/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/}

.blackscreen_landingPage{width:100%; height:100%; min-height:300px;


background: -moz-linear-gradient(left,  rgba(7,16,47,1) 5%, rgba(5,12,36,1) 27%, rgba(4,10,29,0.86) 41%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(7,16,47,1) 5%,rgba(5,12,36,1) 27%,rgba(4,10,29,0.86) 41%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(7,16,47,1) 5%,rgba(5,12,36,1) 27%,rgba(4,10,29,0.86) 41%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
position:fixed; right: 0; top: 0;
}



/*Resume player*/

.ps1_landingPageResume {  text-decoration: none;
    width: 185px;
    height: 35px;
    display: block;
    padding-left:42px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 35px;
    
    color: #fff;
    
    font-size: 18px;
    margin-bottom: 14px;
    background-image: url(../images/DetailsIcons/ps1.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 23px;
}


.ps1_landingPageResume_active { color:#000;

    background-image: url(../images/DetailsIcons/ps1_hover.svg) !important;
    
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/ }

/*Resume player*/

/*border css*/


/*end of border css*/



/*PlaySeason List*/

.ps1_landingPage {  text-decoration: none;
    width: 384px;
    height: 60px;
    display: block;
    padding-left:73px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 60px;
    
    color: #fff;
    
    font-size: 19px;
    margin-bottom: 14px;
    background-image: url(../images/DetailsIcons/ps1.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 40px;
}


.ps1_landingPage_active { color:#000;

    background-image: url(../images/DetailsIcons/ps1_hover.svg) !important;
    
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/ }

.episodes_landingPage {   text-decoration: none;
    width: 210px;
    height: 35px;
    display: block;
    padding-left:42px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 35px;
    
    color: #fff;
    
    font-size: 14px;
    margin-bottom: 14px;
    background-image: url(../images/DetailsIcons/episodes.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 25px;}

    .poster_sanandreas_landingPage{ width:75%; height:75%; 
    
    background-size:100% 100%; float:right; background-repeat:no-repeat; 
    position: absolute;
    right: 0;

}

.movieDesc_landingPage{ 
 color:#bbbfca; 
font-weight:bold; 
font-size:12px; 
margin-bottom:10px; 
float:left;
margin-left: 4%;
 margin-top: 5px;
 margin-right: 5px;
}



.thumbsCont_landingPage{ width:100%; height:50%; position:absolute; top:48%; z-index:9999;

/*background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(7,16,47,0.17) 6%, rgba(7,16,47,1) 36%, rgba(7,16,47,1) 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(7,16,47,0.17) 6%,rgba(7,16,47,1) 36%,rgba(7,16,47,1) 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(7,16,47,0.17) 6%,rgba(7,16,47,1) 36%,rgba(7,16,47,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#07102f',GradientType=0 ); /* IE6-9 */

overflow:hidden; 
}

.movieCategory_landingPage{ width:500%; height:46%; float:left; margin-bottom:7px; display:block; }
.movieCategory_landingPage ul{ list-style:none; margin-left:50px; margin-right: 50px; overflow: hidden;}

.movieCategory_landingPage ul li{ float:left;  }

.movieCategory_landingPage h5{margin-left:60px;
 margin-bottom:1px; 

 color:#fff; font-weight:bold; 
 font-size:18px; 
 margin-bottom:8px;
 height:20px;
}





.desc_txt_tvshow{ width:500px; height:320px; /*border:1px white solid;*/ position:absolute; margin: 60px 0 0 35px; z-index:99999;}
.desc_txt_tvshow h2{  font-size:28px; color:#fff; margin-bottom:10px;}
.desc_txt_tvshow ul{ list-style:none;}
.desc_txt_tvshow ul li{ float:none;}





.activeButton { color:#000;

   
    
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/ }

/* End of PlaySeason List*/



/*Episodes and More List*/




.episodes_active { color:#000;

    background-image: url(../images/DetailsIcons/episodes_hover.svg) !important;
    
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/ }



/*Audio and subtitles*/

.audiosub {  text-decoration: none;
    width: 350px;
    height: 60px;
    display: block;
    padding-left:70px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 60px;
   
    color: #fff;
    
    font-size: 30px;
    margin-bottom: 14px;
    background-image: url(../images/DetailsIcons/audiosub.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 40px;}


.audiosub_active { color:#000;

    background-image: url(../images/DetailsIcons/audiosub_hover.svg);
    
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/

}/*end audio sub*/

/*add to my list*/

.addlist {  text-decoration: none;
    width: 210px;
    height: 35px;
    display: block;
    padding-left:42px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 35px;
    
    color: #fff;
    
    font-size: 14px;
    margin-bottom: 14px;
    background-image: url(../images/DetailsIcons/addlist.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 25px;}

.addlist1 {  text-decoration: none;
    width: 210px;
    height: 35px;
    display: block;
    padding-left:42px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 35px;
    
    color: #fff;
    
    font-size: 14px;
    margin-bottom: 14px;
    background-image: url(../images/removeList.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 25px;}
.addlist_active{
      color:#000;

    background-image: url(../images/DetailsIcons/addlist_hover.svg);
    
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/
}/*end add to my list */
.addlist_active1{
      color:#000;

    background-image: url(../images/removeList_hover.svg);
    
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/
}
/*rate list*/
.episode_active1{
      color:#000;

    background-image: url(../images/episodes_hover.svg);
    
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/
}
.rating {  text-decoration: none;
    width: 384px;
    height: 60px;
    display: block;
    padding-left:70px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 60px;
    
    color: #fff;
    
    font-size: 30px;
    margin-bottom: 14px;
    background-image: url(../images/DetailsIcons/rating.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 40px;}


.rating_active{
     color:#000;

    background-image: url(../images/DetailsIcons/rating_hover.svg);
    
    background-color:#eaeaea;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/
}/*end rate list */

.movieDesc_1{ color:#bbbfca; font-weight:bold; font-size:26px; margin-right:15px; margin-bottom:10px; float:left; margin-left: 24px; margin-top: 20px;}

.movieDesc_12{ color:#bbbfca; font-weight:bold; font-size:26px; margin-right:15px; margin-bottom:10px; float:left;  margin-top: 20px;margin-left: 6%;}

.synopsys{ color:#aeaeae; font-size:28px; line-height:24px; float:left;} 




.synopsys span{  color:#999994; font-size:16px; line-height:5px;;}

.cc{ width: 30px; height:20px; background-image:url(../images/cc.svg); background-size:100%; background-repeat:no-repeat; display:block; float:left; background-position-y:50%; margin:2px 5px; }

.mainTitle_1{  font-size:40px !important; color:#fff;  margin-left: 0px; margin-top: 0px;}

.mainTitle_landingPage{ 
    font-size:25px; 
    color:#fff; 
    margin-left: 60px; 
    margin-top: 60px;
    font-weight:bold;
    
    text-transform: capitalize;
}

.descriptionData{
    z-index: 9999;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
/*end of landing page css*/


.episodeHeading{
    display: inline-block;
    text-align:left; 
    float: left;
    font-size: 20px;
    font-weight: normal;
    margin-left: 10px;

    color: #fff;
    line-height: 24px;
}

.epi_video_txt{
   width: 55%;
   height: 100%;
  /* overflow: hidden;*/
  text-overflow: ellipsis;
   float: left;
   word-wrap: break-word;
  /* border: 5px solid #fff;*/
   padding: 5px 0px;
   margin-left: 20px;
}

.epi_video_txt p{
     font-size: 15px;
  line-height: 24px;
}
/* video controls */

/* video container */
.videoContainer{
    width:600px;
    height:350px;
    position:relative;
    overflow:hidden;
    background:#000;
    color:#ccc;
}

/* video caption css */
.caption{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:10px;
    color:#ccc;
    font-size:20px;
    font-weight:bold;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #1F1F1F; /* fallback */
    background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
    background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
    background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
}

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.control{
    background:#333;
    color:#ccc;
    position:absolute;
    bottom:3%;
    left:20%;
    width:60%;
    height:60px;
    z-index:5;
    border:1px solid #404040;
    display:none;
}
.btmControl{
    background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
    background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
    background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
    position:relative;
    height:50px;
}
/* Main button */
.mainControl{
    width:182px;
    text-align:center;
    margin:auto;
    border-radius:7px 7px 0 0;
}
.control a.btnmain{
    margin:5px 2px 2px;
    cursor:pointer;
    float:left;
}
.control a.btnmain:focus{
    outline:none;
}
.control a.lvl1{
    width:40px;
    height:40px;
}
.control a.lvl2{
    width:33px;
    height:33px;
    margin-top:10px;
}
.control a.lvl3{
    width:28px;
    height:28px;
    margin-top:15px;
}
.control a.btnPlay{
    background:url(control.png) no-repeat 0 0;
}
.control a.btnPlay:hover, .control a.btnPlay:focus{
    background:url(control.png) no-repeat 0 -40px;
}
.control a.paused{
    background:url(control.png) no-repeat -40px 0 !important;
}
.control a.paused:hover, .control a.paused:focus{
    background:url(control.png) no-repeat -40px -40px !important;
}
.control a.btnBck{
    background:url(control.png) no-repeat -113px 0;
}
.control a.btnBck:hover, .control a.btnBck:focus{
    background:url(control.png) no-repeat -113px -40px;
}
.control a.btnFwd{
    background:url(control.png) no-repeat -80px 0;
}
.control a.btnFwd:hover, .control a.btnFwd:focus{
    background:url(control.png) no-repeat -80px -40px;
}
.control a.btnStop{
    background:url(control.png) no-repeat -146px 0;
}
.control a.btnStop:hover, .control a.btnStop:focus{
    background:url(control.png) no-repeat -146px -40px;
}
.control a.btnEnd{
    background:url(control.png) no-repeat -174px 0;
}
.control a.btnEnd:hover, .control a.btnEnd:focus{
    background:url(control.png) no-repeat -174px -40px;
}

/*** SOUND + VOLUME CSS ***/
/* sound */
.control div.sound {
    width:17px;
    height:17px;
    margin-top:5px;
    margin-left:-20px;
    cursor:pointer;
    background:url(control.png) no-repeat -202px 0;
}
.control div.muted{
    background:url(control.png) no-repeat -202px -40px;
}

/* volume */
.volume{
    position:absolute;
    bottom:3px;
    right:3px;
    cursor:pointer;
    width:40px;
    height:21px;
    background:#333;
}
.volume .volumeCover{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    background:url(control.png) no-repeat -219px 0;
    width:100%;
    height:100%;
}
.volume .volumeBar{
    display:block;
    width:75%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:#ccc;
    z-index:5;
}
.volume .volumeoff{
    background-color:#333;
}

/* PROGRESS BAR CSS */
/* Progress bar */
.progress {
    width:100%;
    height:10px;
    position:relative;
    cursor:pointer;
    background: #444; /* fallback */
    background:-moz-linear-gradient(top,#333,#555);
    background:-webkit-linear-gradient(top,#333,#555);
    background:-o-linear-gradient(top,#333,#555);
    box-shadow:0 -3px 3px #111 inset;
    -moz-box-shadow:0 -3px 3px #111 inset;
    -webkit-box-shadow:0 -3px 3px #111 inset;
}
.progress span {
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:block;
}
.timeBar{
    z-index:10;
    width:0;
    background: #3FB7FC; /* fallback */
    background:-moz-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
    background:-webkit-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
    background:-o-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
}
.bufferBar{
    z-index:5;
    width:0;
    background: #777; /* fallback */
    background:-moz-linear-gradient(top,#999,#666);
    background:-webkit-linear-gradient(top,#999,#666);
    background:-o-linear-gradient(top,#999,#666);
    box-shadow:0 -3px 3px #555 inset;
    -moz-box-shadow:0 -3px 3px #555 inset;
    -webkit-box-shadow:0 -3px 3px #555 inset;
}

/* OTHERS CSS */
/* video screen cover */
.loading, #init{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(loading.gif) no-repeat 50% 50%;
    z-index:2;
    display:none;
}
#init{
    background:url(bigplay.png) no-repeat 50% 50% !important;
    cursor:pointer;
}


/*end of video controls*/


@media only screen
and (min-width : 1920px) {
  

  /*landing page media screens*/      

    




.clearFx{
   clear: both;
}

.paragrap_txt{
    font-size: 14px;
    text-align: left;

}
.duration{
    font-size: 18px;
    font-style: italic;
    display: inline-block;
    float: left;
    width: 45%;
    height: 30px;
    color: #999;
    text-align: right;
    /*border: 1px solid #f00;*/
}



.cc{ width: 50px; height:33px; background-image:url(../images/cc.svg); background-size:100%; background-repeat:no-repeat; display:block; float:left; background-position-y:50%; margin:0 5px; }


.hd{     width: 50px;
    height: 28px;
    display: block;
    float: left;
    margin: 0 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,a7a7a7+100 */
background: rgb(204,204,204); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(167,167,167,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(167,167,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(167,167,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#a7a7a7',GradientType=0 ); /* IE6-9 */

    border-radius: 2px;
    color: #1F1F1F;
    text-align: center;
    line-height: 28px;
    
    font-size: 20px;
    font-weight:bold;
    }



.synopsys{ font-size:28px; line-height:40px;}

/* .synopsys_category{ font-size:24px; line-height:35px;} */

.watch{ font-size:24px; margin:15px 0; width:300px; }



.movieTitle{ width: 500px; height:250px; /*border:1px solid white;*/ background-image:url(../images/movieTitles/avengersTitle.png); background-size:100%; background-repeat:no-repeat; }


 
.movieDesc_landingPage{ font-size:26px; margin-right:25px; margin-bottom:15px;}


.desc_txt_landingPage{ width:701px; height:424px; /*border:1px white solid;*/ position:absolute; margin:110px 0 0 110px; z-index:999;}

.desc_txt_landingPage ul li{ margin:18px 0;  }

.ddlogobottom{ width:600px; height:180px;}

.movieCategory_landingPage{ width:200%; height:55%;}
.movieCategory_landingPage h5{margin-left:54px;}

.movieCategory_landingPage h4{ font-size:24px;}

.movieCategory_landingPage ul li a img{ width:369px; height:212px;}

#gallery img {
  float: left;
  height: 600px;
  margin: 0 100px;      /* Adjust the left/right margin to show greater or fewer slides at once */
  -webkit-box-reflect: below 0 -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(1, rgba(255, 255, 255, .5)),
      color-stop(.8, rgba(255, 255, 255, 0))
    );
}


.thumbsCont_landingPage{ width:100%; height:50%; position:fixed; top:54%; z-index:9999; margin-left:50px;

overflow:hidden; 
}

/*end of landing page media screens*/




/*category media screens*/

.thumbsCont_category{ height:41%; top:58%;  }

.desc_cont_category{ width:100%; height:650px; box-sizing:border-box }

.synopsys_category{ font-size:24px; line-height:35px;}

.movieDesc_category{ font-size:26px; margin-right:25px; margin-bottom:15px;}

.movieCategory_category{ width:99%; height:55%;}

.movieCategory_category h4{ font-size:24px;}

.movieCategory_category ul li a img{ width:369px; height:212px;}

/*end of category media screens*/
}

.rating_active_category
{
  color:#000;
  width: 400px;
    overflow: hidden;
    /*background-image: url(../images/DetailsIcons/rating_hover.svg) !important;*/
    border-radius:5px;
    background-color:#eaeaea;
    background-repeat: no-repeat;
/*---outer Glow---*/
/*-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);*/     
}

.ratingStar{
   
    width: 16px;
    height: 16px;
    margin-top: 0px;
    float: left;
    background-image: url(../images/star_rate.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.ratingStarDisp{
   
    width: 20px;
    height: 20px;
    margin-top: 0px;
    float: left;
    background-image: url(../images/star_rate.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.dispRate{    
    margin-left: 9%;  
}

.ratingStarNon{
    width: 40px;
    height: 40px;
    float: left;
    background-repeat: no-repeat;
    background-image: url(../images/star_nonrate.png);
    background-size: 90%;
    margin-top: 3px;
}
.loading {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
}

.accountSet {
      color: #fff;
    margin-left: 1%;
    margin-top: 7%;
    font-size: 24px;
	margin-bottom:15px;
}
h2 {
   color:#fff;
    margin-left: 10%;
    margin-top: 7%;
}


#ul_thumbs
{
    width:100%;
    float:left;
    z-index:9;

}
#ulThumbs1
{
    height:70%;
}
#ul_thumbs2
{
    width:100%;
    float:left;

}
#ul_thumbs3
{
    width:100%;
    float:left;

}

.imageMainWrapper{
    width: 90%;
    height: 47vh;
    position: fixed;
    bottom: 0;
    left: 30%;
    border: 1px solid #f00;
    overflow:hidden;
}

.landingImageDiv{
    top: 40%;
    left: 43.5%;
    width: 336px;
    height: 365px;
    background-size: 90% !important;
    position: fixed;
    right: 0;
    z-index: 1;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat !important;
    background-position: 50%;
}

.registrationBackground{
    text-align: center;
        margin-top: 20%;
  
}
#videoLoad{
   text-align: center;
}
.mainTitle_Video {
   
    font-size: 3em;
    color: #fff;
    margin-top: 19%;
 
}

.mainTitle_VideoSub {
   
    font-size: 2em;
    color: #fff;
    margin-top: 1%;
 
}

/*Category Select */

.transBg{ width:100vw; height:100vh; position:fixed; /*background-color:rgba(0,0,0,0.6);*/ top:0; left:0; z-index: 999999; margin-top: 12%; }

.Catwrapper{     width: 99%;
    height: 300px;
    margin: 15% auto;
    
    text-align: center;
}

.categoryList{ list-style:none; display:inline-block !important; margin:0 0 0 -45px; }

.categoryList li{ float:left;  margin:28px;}

.categoriesDiv{ width:180px; height:80px; border-radius:10px; background-color:rgba(255,255,255, 0.2); text-align:center; line-height:80px; font-size:20px; color: #000; font-weight:bold; transition: all 0.2s ease-out;
    margin-right: 30px; }
.categoriesDiv:hover{ transform: scale(1.2);
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.categoriesDiv_active{ 
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.9));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.9));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.9));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.9));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.9)); }

.searchImg{  width:180px; height:80px; transition: all 0.2s ease-out; }
.searchImg:hover{ transform: scale(1.2);
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.searchImg_active{
 -webkit-filter: drop-shadow(0px 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }  


.userImg{  width:180px; height:80px; transition: all 0.2s ease-out;}
.userImg:hover{ transform: scale(1.2);
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.userImg_active{ 
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }

.settings{  width:180px; height:80px; transition: all 0.2s ease-out; }
.settings:hover{
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.settings_active{
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }      

.listDesc{ font-size:18px; color: #fff; font-weight:bold;}

.exit{ width:180px; height:75px; border:1px solid #fff; padding: 3px; border-radius:10px; background-color:rgba(255,255,255, 0.2); text-align:center; line-height:32px;  font-size:16px; color: #fff; font-weight:bold; transition: all 0.2s ease-out;
    margin-left: 30px; }
.exit:hover{ transform: scale(1.2);
 -webkit-filter: drop-shadow(3px 5px 8px rgba(30,302,222,.9));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.exit_active{ 
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        -o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
        filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
@media screen and (min-width:960px) and (max-width:1000px){
.categoryMenu {
	width: 22%;
}
.categoryMenu .filterMenu ul li {
	font-size: 12px;
	line-height: 34px;
	padding-left: 10px;
	width: 100%;
}
.categoryData {
	width: 78%;
}
.categoryData .thumbsList li {
	margin: 5px 5px;
	width:176px !important;
}
.categoryData .thumbsList li img {
	width: 177px;
	height:102px;
}
.border {
	width: 185px;
	height:110px;
	outline: 4px solid #00ccff;
	position: fixed;
	z-index: 999999;
	left: 30px;
	top: 290px;
}
.categoriesWrap_sel {
	position: fixed;
	top: 25%;
	left: 15%;
	height: 100px;
	width: 70%;
	text-align: center;
	box-sizing: border-box;
	z-index: 9;
}
.icon_sel {
	margin:38px 5%;
}


.movieDesc_landingPage {
	margin-top:0px;
}
.mainTitle_landingPage {
	font-size:22px;
}
.ratingStarDisp {
	width: 16px;
	height: 16px;
}
.borderLanding { left: 6% ; height:108px; width:184px !important;     margin-top: 36px; outline: 4px solid #00ccff;}
.movieCategory_landingPage ul {     margin-left: 20px;}
.movieCategory_landingPage h5 {     margin-left: 30px;}
.borderLanding {     left: 26px;}
.searchCont .searchBack { height: 55px;     line-height: 55px;}
.als-viewport {  width:934px;}
.als-item { width:176px; margin-left:10px; height:auto; min-height:inherit !important;}
.als-item img { width:100%; height:auto; margin-bottom:0px !important;}
.searchCont {  margin: 65px auto;}
.searchCont .srh_blk_settings { width: 190px; height: 40px; padding: 15px 30px 15px 30px; line-height:8px;}
.src_nav_settings { margin-top:10px;}
.gb_act {     margin-left: 9%;}
.src_nav_settings {     height: auto; margin-bottom: 20px;}
.searchCont .srh_blk { height:auto;}

.movieCategory_landingPage ul {     overflow: inherit;}
.thumbsCont_landingPage {     height: 58%;     top: 41%;}
.borderEpisodes {     width: 238px; height: 142px; margin-top: 3px;     left: 342px; outline: 4px solid #00ccff;}
.episodeHeading { overflow: hidden; height: 107px;}
.epi_video_txt p { font-size: 12px; line-height: 18px; font-weight: normal;}
}
@media screen and (min-width:1001px) and (max-width:1280px){
.als-container .als-item { width: 234px;}
.als-container .als-item img { width:100%;}
.borderLanding {
	width: 226px;
    height: 126px;
    outline: 4px solid #00ccff;
     outline-offset: 0px;
    left: 64px;
    margin-top: 42px;
	}
.movieCategory_landingPage ul { height:133px !important;}
.thumbsCont_landingPage {     top: 42%;}
.thumbsCont_landingPage {     height: 54% !important;}
.ps1_landingPage {     width: 250px !important;     line-height: 30px !important;}
.addlist { width: 250px !important;     line-height: 30px !important;}
.episodes_landingPage { width: 250px !important;     line-height: 30px !important;}
.addlist1 { width: 250px !important;     line-height: 30px !important;}
.ps1_landingPageResume {  width: 250px !important;     line-height: 30px !important;}
.activebutton_category { width: 250px !important;}
.borderEpisodes { width: 225px !important;
    height: 123px !important;
    outline: 4px solid #00ccff !important;
    outline-offset: 0px;
    margin-top: 13px !important;
    left: 36% !important;}
.txtdesc_sel {     top: 78% !important;}
.border {     width: 235px !important;
    height: 136px !important;
    outline: 4px solid #00ccff !important;
    outline-offset: -8px !important;}
	.gb_act { margin-top: -5% !important;}
	.searchCont .srh_blk_settings {     padding: 15px 90px 15px 30px !important;     width: 43% !important;     height: 45px !important; line-height:16px !important;}
	.searchCont .srh_blk {     font-size: 14px !important; width: 206px !important;  height: 47px !important;}
	.vid_blk .vid { width: 250px !important; height: 140px !important;}
	.videoContSearch { width: 70% !important;}
	.keyboard {     width: 25% !important;}
	.borderSearch {
    width: 262px  !important;
    height: 152px !important;
    outline-offset: -10px !important;
    left: 442px !important;
}
.searchCont .keypad .ltr { line-height: 39px !important;}
.searchCont .searchBack {     line-height: 43px !important;     height: 50px !important;}
.searchCont .keypad .bk_aro {
    line-height: 27px !important;
}
.epi_video_txt p {    font-size: 13px !important;  line-height: 18px !important;}
.episodeHeading { height:110px; overflow:hidden;}
.videoContSettings {     margin-top: 6% !important;}

	}
.gb_act { height: 30px; margin-right: 2%;     margin-left: -6%; margin-top: -7%;     background-size: 71%;}
.desc_txt_landingPage {
	width:43%;
	margin: 30px 0 0 30px;
}
.ps1_landingPage {
	text-decoration: none;
	width: 210px;
	height:35px;
	padding-left: 42px;
	line-height:35px;
	font-size: 14px;
	background-position: 5% 48%;
	background-size: 25px;
}
.search_sel { background-size: 55%;}
.categories_sel { background-size: 55%;}
.settings_sel { background-size: 55%;}
.exit_sel { background-size: 55%;}
.icondesc_sel {     font-size: 14px;}
.videoContSearch h2 { margin-top:0px !important;}

.slidern {
        /*width: 50%;
        */
        margin-left:55px;
    }

    .slick-slide {
      margin-right: 8px;
      /*width: 356px;*/
      outline:none;
      background: #3f3f3f;
    }

    .slick-slideGal {
     
      width: 1900px !important;
      height: 1200px !important;
      background: #000000 !important;
      outline: none !important;
      
    }

    #reg_Slide { margin-left: 0px !important; }   

img:not([src]) {visibility: hidden;}

   /* .slick-slide img {
      width: 100%;
    }
*/
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
	@media screen and (min-width:958px) and (max-width:965px){.borderLanding { left:5.3%; margin-top:34px; width:190px !important;}}

.backgroundvid { 
position: fixed; 
top: 0;
 left: 0;
 height: 100%;
width: 100%; 
z-index: -100;
}



    .likelist {  text-decoration: none;
    width: 210px;
    height: 35px;
    display: block;
    padding-left:42px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 35px;
    
    color: #fff;
    
    font-size: 14px;
    margin-bottom: 14px;
    background-image: url(../images/like.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 25px;}

    .dislikelist {  text-decoration: none;
    width: 210px;
    height: 35px;
    display: block;
    padding-left:42px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 35px;
    
    color: #fff;
    
    font-size: 14px;
    margin-bottom: 14px;
    background-image: url(../images/dislike.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 25px;}

.likelist_active { color:#000;

    background-image: url(../images/like_gray.png) !important;
    
    background-color:#eaeaea;
/*---outer Glow---*/
-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1); }

.dislikelist_active { color:#000;

    background-image: url(../images/dislike_gray.png) !important;
    
    background-color:#eaeaea;
/*---outer Glow---*/
-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1); }

.likesDisp{
   
    width: 25px;
    height: 25px;
    margin-top: 8px;
    float: left;
    background-image: url(../images/like.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.disLikesDisp{
   
    width: 25px;
    height: 25px;
    margin-top: 10px;
    float: left;
    background-image: url(../images/dislike.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 8%;
}

.likesCnt{
     color: #bbbfca;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
    float: left;
    margin-left: 4%;
    margin-top: 5px;
    margin-right: 5px;
}

.dislikeMargin{
     margin-left: 2% !important;
}
.desc_txt_landingPageSlide{
     width: 1%!important;
}

#avgRat {     color: #FF9800;
    font-size: 20px;
    padding-top: 5px;
    margin-left: 10px;
    float: left; }

#avgRatLanding {     color: #FF9800;
    font-size: 20px;
    padding-top: 5px;
    margin-left: 10px;
    float: left; }

    .starRateMain{
        padding: 4px 20px 20px 0;
    margin-left: 10px;
}

.star_active1{

 text-decoration: none;
    width: 210px;
    height: 35px;
    display: block;
  
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 14px;
  background-color: #eaeaea;
/*---outer Glow---*/
-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
}
.star{
      width: 30px;
    height: 30px;
    background-size: 30px;
    float: left;
    margin: 0 5px;
     background-image: url(../images/DetailsIcons/star.svg);
}
.starRateMain .star_active { width: 23px;
    height: 23px;
    background-size: 23px;
    margin: 0 3px !important; }
.starRateMain .star {
    width: 23px;
    height: 23px;
    background-size: 23px;
    margin: 0 3px;
}
.star_active{
     width: 30px;
    height: 30px;
    background-size: 30px;
    float: left;
    margin: 0 5px;
    background-repeat: no-repeat;
     background-image: url(../images/DetailsIcons/star_active.svg);
}
.rating {      width: 210px;
    height: 35px;
    display: block;
    padding-left: 42px;
    border: 1px solid;
    border-color: transparent;
    text-align: left;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 14px;
        background-image: url(../images/DetailsIcons/rating.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 25px;

}


.rating_active{
     color:#000;

    background-image: url(../images/DetailsIcons/rating_hover.svg);
    
    background-color:#eaeaea;
/*---outer Glow---*/
-webkit-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
box-shadow: 0px -1px 10px 0px rgba(255,255,255,1);
}/*end rate list */