.searchCont{ width:90%; margin:110px auto; height:auto;}
.searchCont .srh_blk { width:100%; height:70px; float:left; margin-bottom:20px; margin-left: 70px;}
.searchCont .srh_blk input[type="button"] { background-color:transparent; border: solid 1px #fff; color:#fff; font-size:26px; padding:15px 40px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.searchCont .keypad { width:100%; float:left;}
.searchCont .keypad .ltr { font-size:30px; color:#fff; text-align:center; text-decoration:none; width:60px; height:60px; background-color:#272727; float:left; line-height:54px; margin:3px;}
.searchCont_active { background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); color:#000;}

.searchCont .keypad .spc { font-size:44px; color:#fff; text-align:center; text-decoration:none; width:192px; height:60px; background-color:#272727; float:left; line-height:10px; margin:3px;}
.searchCont .keypad .spc:hover { background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); color:#000;}
.searchCont .keypad .bk_aro {     line-height: 50px; font-size: 37px;}
.buttonsText{ width:420px;  float:left; }
.buttonsText h2 { font-size:38px; color:#fff; font-weight:normal; margin-top:0px;}
.src_nav { float: left; width:100%; margin-top:40px; height:400px;}
.src_nav ul { margin:0px; padding:0px;}
.src_nav ul li { list-style:none; color:#fff; font-size:30px; margin-bottom:10px; padding:17px;}
.src_nav_active { background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); color:#383838 !important;}

.videoCont{ width:1260px;  float:right; height:500px;}
.videoCont h2 { font-size:40px; color:#fff; font-weight:normal; margin-top:12px; }
.vid_blk { width:100%; float:left;}
.vid_blk ul { margin:0; padding:0px;}
.vid_blk ul li { list-style:none; margin-bottom:17px;}

.vid_blk .vid { width:403px; height:224px; float: left; margin-right:15px;}
.vid_blk .vid img { width:100%;}
.gb { margin:0px !important; width:100%;}
.gb input { width:100%; text-align:left;}
.gb input:hover { background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); color:#383838 !important;}
.ft_btns input { margin-bottom:10px}
.videoCont h3 { font-size:36px; color:#fff; font-weight:normal; margin:0 0 10px 0;} 
.videoCont p { font-size:24px; color:#fff; margin-top:0px; margin-bottom:25px; line-height:32px;} 