* {
    margin: 0;
    padding: 0;
    outline: none !important;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.h1,
h1 {
    font-size: 18px;
}
#thumbsWrapper {
    position: fixed;
    width: 100vw;
    height: 140px;
    bottom: 10px;
    left: 0px;
    z-index: 1;
}
#thumbsContainer {
    height: 140px;
    display: block;
    margin: 0;
}
#thumbsWrapper img {
    float: left;
    margin: 0px 20px 0px 20px;
    display: block;
    cursor: pointer;
    opacity: 0.9;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=40);
}
#imageWrapper {
    position: relative;
    padding-top: 30px;
    text-align: center;
}
#imageWrapper img {
    margin: 0 auto;
    -moz-box-shadow: 2px 2px 10px #111;
    -webkit-box-shadow: 2px 2px 10px #111;
    box-shadow: 2px 2px 10px #111;
}
.parentimageLarge {
    position: absolute;
    width: 0px;
    transition: width 0.3s linear 0s;
    z-index: 9000;
}
.parentimage {
    width: 110px;
    height: 110px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    margin: 50px;
    z-index: 9000;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
}
.parentimage:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.handleRightArrow {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 9999;
    -webkit-box-shadow: 0px 2px 12px 0px #66afe9;
    -moz-box-shadow: 0px 2px 12px 0px #66afe9;
    box-shadow: 0px 2px 12px 0px #66afe9;
}
.thumbParentimage {
    width: 100px;
    height: 100px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    margin: 10px;
    z-index: 9000;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 7px -2px rgba(71, 71, 71, 1);
    outline: none;
    -moz-outline: none;
    cursor: pointer;
}
.video {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}
#detaileddiv {
    height: 100%
}
#thumbs {
    position: fixed;
    top: 120px;
    left: 140px;
    height: 100%;
    vertical-align: middle;
}
.thumbs-list {
    width: 110px;
    height: 110px;
    margin: 10px;
}
#preview {
    position: fixed;
    left: 260px;
    top: 120px;
}
#preview img {
    margin-top: 20px;
}
.handletopArrowThumb {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 9999;
    -webkit-box-shadow: 0px 2px 12px 0px #66afe9;
    -moz-box-shadow: 0px 2px 12px 0px #66afe9;
    box-shadow: 0px 2px 12px 0px #66afe9;
}


.speedbuy {
    width: 20vw;
    border-radius: 2vh;
    padding: 1.25vw;
    background-color: #FFF;
    position: absolute;
    top: 6vh;
    right: 3vw;
    font-size: 1.25vw;
}
.speedbuy2 {
    width: 400px;
    height: 400px;
    position: fixed;
    border-radius: 2%;
    left: 60%;
    top: 140px;
}

.detailedDesc {
    width: 17vw;
    height: 15vh;
    position: fixed;
    margin: 1px;
    padding: 2%;
}
.testimage {
    width: 100%;
    height: 100%;
}
.logo2 {
    position: fixed;
    top: 30px;
    right: 30px;
}
h1 {
    margin: 5px 0 0 0;
    color: #ff5b5b;
}
h2 {
    margin: 0 0 0 0;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
h3 {
    margin: 5px 0 0 0;
    color: #f00;
    font-weight: normal;
    font-size: 14px;
}
h4 {
    margin: 5px 0 0 0;
    color: #000;
    font-weight: normal;
    line-height: 15px;
    font-size: 12px;
}
.button {
    background-color: #ec1e2a;
    border-radius: 1vh;
    color: #FFF;
    text-align: center;
    font-family: arial;
    font-size: 1.25vw;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin-top: 1vh;
    font-weight: bold;
    padding: 0.6vw;
}
.clickbuy {
   border:  0.5vh solid #ec1e2a;
}
.button2 {
    width: 120px;
    height: 30px;
    display: block;
    background-color: #ec1e2a;
    border-radius: 3px;
    float: left;
    color: #FFF;
    text-align: center;
    font-family: 'open_sansregular', sana-serif;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 10% auto 0 0;
    font-weight: 500;
    border: #F44855 solid 1px;
    line-height: 20px;
}
.buttonHover {
    transform: scale(1.1);
}
ul {
    margin: 0 0 0 0;
}
li {
    list-style: none;
    float: none;
    margin: 0 0 0 0;
    outline: none;
}
#productDetails {
    margin-top: 75px;
}
/*#DetailedPreview {
    width: 40%;
    float: left;
    height: 100%;
    margin-left: 100px;
}*/

.logo {
    width: 15vw;
    clear: both;
    margin: 0 auto;
}

#DetailedPreview img {
    width: 100%;
}
/*#productDesc {
    float:left;
    height: 100%;
    padding-top: 20px;
}*/

#productDesc2 {
    width: 50%;
    float: right;
    height: 100%;
    padding-top: 20px;
}
.prdoTitle {
    color: #818181;
    padding-top: 10px;
}

.clorsDiv {
    width: 45px;
    height: 40px;
    float: left;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    margin: 2px;
}
.clorsDivactive {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
}
#selectedSizeTable {
    color: #818181;
}

#availableSizes {
    padding-top: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}
.sizeDiv {
    min-width: 70px;
    width: auto;
    color: #333;
    float: left;
    margin: 0 7px 3px 7px;
    font-size: 14px;
    background-color: #F5F5F5;
    padding: 2px;
    text-align: center;
    line-height: 30px;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
}
.sizeActive {
    background-color: #FFFFFF;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
}
#quantity {
    margin-top: 25px;
}
.qtyDiv {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 10px 15px 0;
    text-align: center;
    line-height: 30px;
    color: #000;
    font-size: 14px;
    background-color: #F5F5F5;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    -moz-box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
    box-shadow: 0px 2px 7px -2px rgba(60, 60, 60, 1);
}
.qtyDivActive {
    background-color: #FFFFFF;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
    box-shadow: 0px 2px 12px 0px rgba(71, 71, 71, 1);
}
.qtyDivCount {
    float: left;
    width: 30px;
    height: 30px;
    /** margin: 0 10px 15px 0; */
    
    text-align: center;
    line-height: 30px;
    color: #000;
    font-size: 14px;
}
.qtyContainer {
    margin: 15px 0 0 0;
    overflow: hidden;
}
.btnContainer {
    margin: 5px 0 0 0;
    width: 200px;
}
#checkoutPage {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 999;
}
.checkCont {
    width: 400px;
    height: 300px;
    /* border:1px solid #f00; */
    
    margin: 100px auto;
    padding: 30px;
}
.inputTxt {
    width: 350px;
    height: 15px;
    border: #fff solid 1px;
    padding: 10px;
    margin: 10px;
    background-color: #eaeaea;
    color: #000;
    border-radius: 8px;
    box-shadow: inset 1px 1px 8px #999;
}
.inputTxtActive {
    width: 360px;
    height: 16px;
    border: #DADADA solid 1px;
    padding: 10px;
    margin: 10px;
    background-color: #929292;
    color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #222;
}
#ConfirmButton {
    width: 200px;
    height: 8%;
    text-align: center;
}
.buttonChkout {
    width: 85%;
    height: 100%;
    display: block;
    background-color: #ff5b5b;
    border-radius: 3px;
    padding: 5px;
    float: left;
    color: #FFF;
    text-align: center;
    font-family: 'open_sansregular', sana-serif;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 10px;
    font-weight: 500;
    border: #F44855 solid 1px;
    line-height: 150%;
}
#totalPrice {
    padding-top: 30px;
}
.confirmContainer {
    margin: 5px 0 0 0;
}
#sbid,
#cbid {
    display: none;
}
#loading {
    color: #FF0000;
    margin-top: 35px;
}
/*New Classes - 27/4--*/

.dummy {
    width: 100%;
    height: 80px;
}
#sbdesc {
    display: block;
    width: 100%;
    height: 12vh;
}
.shopnow {
    width: 120px;
    height: 30px;
    display: block;
    background-color: #ec1e2a;
    border-radius: 3px;
    float: left;
    color: #FFF;
    text-align: center;
    font-family: 'open_sansregular', sana-serif;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 10% auto 0 0;
    font-weight: 500;
    border: #F44855 solid 1px;
    line-height: 30px;
    cursor: pointer;
}
.seekTime {
    text-align: center;
    position: fixed;
    top: 2px;
    left: 2px;
    width: 35px;
    height: 16px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
}
.disnone {
    display: none;
}
.disblock {
    display: block;
}
.pla {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.clrred {
    color: #ec1e2a;
    font-size: 24px;
    font-weight: bold;
}
.preimg {
    display: block;
    width: 400px;
}
.productul {
    margin-left: 20%;
}
.pointer {
    cursor: pointer;
}
.pointere {
    text-align: center;
    cursor: pointer;
    width: 27px;
    line-height: 26px;
    display: inline-block;
    height: 27px;
    color: #fff;
    font-size: 17px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #6ec7ff;
    float: right;
}
.dele {
    background-color: #e13018;
}
.pointere:hover {
    color: #fff;
    text-decoration: none;
}
.snb {  
    position: absolute;
    left: 3vw;
    top: 6vh;
}
.pricered {
    font-size: 1.35vw;
    color: #f00;
}

.shopnowhome {
    width: 20.4vw;
    /* height: 5.5vh; */
    background-color: #ec1e2a;
    text-transform: uppercase;
    border-radius: 30vh;
    float: left;
    margin-right: 0.8vw;
    color: #fff !important;
    background-size: 1.25vw;
    padding: 0.2vw 0.5vw 0.2vw 2.5vw;
    font-size: 1.25vw;
    line-height: normal;
    background-image: url("../imagesStore/crt_ico.png");
    background-repeat: no-repeat;
    background-position: 4% center;
    z-index: 9999;
    text-decoration: none !important;
    visibility: hidden;
    border: 0.5vh solid #ec1e2a;
}
.shopnowhome:hover {
    background-color: #ed0412;
    color: #fff;
    text-decoration: none;
}
.shopnowhome:active {
    color: #fff;
    text-decoration: none;
}

.cntnew {
    width: 3vw;
    /* height: 4vh; */
    float: right;
    color: #000;
    font-weight: bold;
    text-align: center;
    background-color: #dddddd;
    border-radius: 30vh;
    padding: 0 0.5vw;
}

.clss {
    /* height: 5.5vh; */
    float: left;
    background-color: #ec1e2a;
    text-transform: uppercase;
    border-radius: 30vh;
    color: #fff !important;
    padding: 0.2vw 1vw 0.2vw 2.5vw;
    font-size: 1.25vw;
    line-height: normal;
    background-image: url("../imagesStore/cls_ico.png");
    background-repeat: no-repeat;
    background-position: 12% center;
    background-size: 1.1vw;
    z-index: 9999;
    text-decoration: none !important;
    visibility: hidden;
    border: 0.5vh solid #ec1e2a;
    transform: scale(0.85);
}
.clss:hover {
    background-color: #ed0412;
    color: #fff;
    text-decoration: none;
}
.clss:active,.clsprod:active {
    text-decoration: none;
}

.clsprod {
    /* height: 5.5vh; */
    float: left;
    background-color: #ec1e2a;
    text-transform: uppercase;
    border-radius: 30vh;
    color: #fff !important;
    padding: 0.2vw 1vw 0.2vw 2.5vw;
    font-size: 1.25vw;
    line-height: normal;
    background-image: url("../imagesStore/cls_ico.png");
    background-repeat: no-repeat;
    background-position: 12% center;
    background-size: 1.1vw;
    z-index: 9999;
    text-decoration: none !important;
    display: none;
    border: 0.5vh solid #ec1e2a;
    transform: scale(0.85);
}
.clsprod:hover {
    text-decoration: none;
}

.hideshop {
    /* opacity:  0 !important; */
    visibility :  hidden !important;
   /* display: none !important;*/
}

#showprod{
   /*  opacity:0; */
   visibility: hidden;
}
/* #mainBody:hover .shopnowhome {
    display: block;
}

.addform {
    /** background-color: rgb(226, 149, 149); **/
    
    margin-top: 100px;
    overflow: hidden;
}
.field {
    float: left;
    font-size: 16px;
    width: 175px;
    margin-left: 30px;
    margin-top: 15px;
}
.textbox-300 {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    color: #000;
    font-size: larger;
}
.modal-sl {
    background-color: rgba(29, 27, 28, 0.88);
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: 40%;
    padding-top: 20%;
    top: 0px;
    left: 0px;
    z-index: 99;
}
.inputcode {
    width: 280px;
    height: auto;
}
.form3 {
    margin: 25px 50px;
    padding: 10px 20px;
}
.form1 {
    float: left;
    margin: 10px 70px;
}
.form2 {
    float: left;
    margin: 10px 70px;
}
.est {} .user-deatils {
    color: #000;
    margin-left: 75px;
    font-size: 13px;
}
.userdes {
    font-family: Arial;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    right: 130px;
    top: 12px;
    width: auto;
    min-width: 100px;
    z-index: 999;
    border-radius: 50px;
    text-align: right;
    padding: 10px;
}
#userIddes {
    margin-right: 10px;
}
.uavatar {
    border-radius: 50px;
    margin-right: 5px;
    vertical-align: middle;
}
.ddlogo {
    width: 86px;
    height: 86px;
    position: absolute;
    left: 130px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    display: none;
}
.nextbtn {
    background-color: #ec1e2a;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 0px;
    font-family: arial;
}
.joinus {
    background-color: #ec1e2a;
    color: #ffffff;
    float: right;
    position: absolute;
    cursor: pointer;
    right: 130px;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: arial;
    top: 10px;
    z-index: 99;
}
.buynowbottom {
    background-color: #ec1e2a;
    color: #ffffff;
    float: right;
    position: fixed;
    cursor: pointer;
    right: 130px;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: arial;
    bottom: 10px;
    z-index: 99;
}
.previous {
    position: fixed;
    left: 130px;
    bottom: 10px;
    z-index: 99;
    cursor: pointer;
    margin: 0px !important;
    padding: 10px 20px !important;
    color: #fff !important;
    border-radius: 3px !important;
    text-decoration: none !important;
    background: #333;
    font-size: 14px;
    font-weight: normal !important;
}
.ddlogo img {
    width: 100%;
}
#a0-onestep .a0-header {
    background: #141414 !important;
}
#a0-onestep .a0-header .a0-bg-gradient {
    position: inherit !important;
}
#a0-onestep .a0-body-content {
    background: #1a1a1a !important;
}
#a0-lock.a0-theme-default .a0-popup .a0-centrix .a0-panel {
    background: #1a1a1a !important;
}
#a0-lock.a0-theme-default .a0-switch span {
    color: #fff !important;
}
.a0-primary {
    background: #ed1c24 !important;
    bottom: 0px !important;
    ;
}
#a0-lock.a0-theme-default .a0-panel .a0-close {
    background: #434343 !important;
    border: 6px solid #434343 !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-email input,
#a0-lock.a0-theme-default .a0-panel .a0-password input,
#a0-lock.a0-theme-default .a0-panel .a0-repeatPassword input,
#a0-lock.a0-theme-default .a0-panel .a0-username input {
    background-color: #1d1d1d !important;
    color: #ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box,
#a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box,
#a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box,
#a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box {
    background: #343434 !important;
    border: 1px solid #343434 !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-all,
#a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    color: #ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-separator {
    color: #ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-top-header h1 {
    color: #ddd !important;
}
.a0-footer {
    display: none !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-mode-container {
    background: #1a1a1a !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-sso-notice-container {
    background: #1a1a1a !important;
    color: #ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-mode {
    background: #1a1a1a !important;
}
.a0-close svg polygon {
    fill: #fff !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-instructions {
    background: transparent !important;
    color: #ddd !important;
}


.topposition{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 96%;
    top: 30px;
   
}

.positiontop {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.bgwhite {
    background: #fff;
    z-index: 100;
}
.plant {
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
}
.pln {
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.pln:hover {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}
.pln h3 {
    font-size: 22px;
    margin-top: 20px;
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    color: #ec1c24;
    font-family: Arial, Helvetica, sans-serif;
}
.pln_txt {
    float: left;
    padding: 15px;
    width: 55%;
    border-right: solid 1px #eaeaea;
    height: 100%;
    background-color: #f7f7f7;
    font-size: 22px;
    margin-top: 20px;
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    color: #ec1c24;
    font-family: Arial, Helvetica, sans-serif;
}
.pln_txt input[type=checkbox] {
    float: left;
    margin-top: 26px;
    margin-right: 10px;
}
.pln_cst {
    width: 45%;
    text-align: center;
    padding: 15px;
    float: left;
}
.pln_cst h4 {
    font-size: 18px;
    font-weight: normal;
    color: #6b6b6b;
    margin-top: 13px;
    line-height: 20px;
}
.fr h4 {
    margin-top: 24px;
}
.frm {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
}
.frm .form-control {
    padding: 10px;
    border-radius: 0px;
    padding: 8px;
    width: 100%;
    color: #333;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    height: auto;
}
.frm label {
    padding: 0px;
    font-size: 14px;
    font-weight: normal;
}
.frm .form-group {
    float: left;
    margin-right: 40px;
    width: 45%;
}
.frm h2 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: normal;
    color: #404040;
}
.frm .adhr {
    height: 70px !important;
}
.frm_wrp {
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
}
.frm .form-control:focus {
    border-color: #ea4f55;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(235, 0, 9, .6);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(235, 0, 9, .6)
}
.plant .btn-info {
    background-color: #ea4f55;
    border: solid 1px #dc2027;
    margin-bottom: 20px;
}
.chek {
    float: left;
    margin-top: 10px;
    color: #5f5f5f;
    font-size: 14px;
}
.chek input[type=checkbox] {
    float: left;
    margin-right: 10px;
}
/*.form-control::-moz-placeholder{color:#bbbbbb;opacity:1}
.form-control:-ms-input-placeholder{color:#bbbbbb}
.form-control::-webkit-input-placeholder{color:#bbbbbb}*/
/* Mobile styles */

@media screen and (width: 320px) {
    .userdes {
        padding: 0px;
    }
    .pln_blk1 .pln_cn p {
        padding-top: 0px !important;
    }
    .pln_blk3 .pln_cn p {
        font-size: 11px;
    }
       .pln_cn .month {     font-size: 12px; margin-top:0px;}
    .pln_blk1 .pln_cn { padding: 5px !important;}
    .pln_cn .price_number { font-size: 14px !important;}
    .pln_cn .month { margin-top: 0px !important;     font-size: 12px !important;}
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .frm .form-group {
        width: 100%;
    }
    .frm_wrp {
        width: 100%;
    }
    /*#productDesc {
    width: 90%;
    margin-right: 10px;
    margin-left: 5%;
    margin-top: 0px;
     
}*/
    
    #availableSizes {
        padding-top: 0px;
    }
    /*#DetailedPreview { width:100%;    height: initial; margin-left: 0px;}*/
    
    .clorsDiv {
        width: 35px;
        height: 30px;
    }
    .sizeDiv {
        min-width: 44px;
    }
    #selectedColor {
        margin-top: 10px;
    }
    .productul {
        margin-left: 20px;
    }
    .ddlogo {
        left: 20px;
    }
    .joinus {
        right: 20px;
    }
    .shopnowhome {
        width: auto;
        padding: 5px 20px;
        line-height: normal;
        line-height: 30px;
           left: 17%;
    margin-top: 70px;
    }
    .speedbuy {
        padding: 4%;
        margin-top: 150px;
    }
    .prohide {
        display: none;
    }
    .button {
        margin: 5px auto 0 0;
    }
    .logo {
        height: 70px;
    }
    #mainBody {
        height: auto;
        bottom: 10%;
    }
    #thumbs {
        left: 20px;
        top: 85px;
    }
    #preview {
        left: 138px;
        top: 85px;
        width: 200px;
    }
    #preview img {
        width: 100%;
        margin-top: 0px;
    }
    .thumbParentimage {
        width: 75px;
        height: 75px;
    }
    .speedbuy2 {
        width: 200px;
        height: auto;
        position: fixed;
        border-radius: 2%;
        left: 138px;
        top: 300px;
    }
    .dummy {
        height: auto;
    }
    .joinus {
        top: 10px;
    }
    .pointer {
        font-family: Arial, Helvetica, sans-serif;
    }
    #DetailedPreview img {
        width: 100%;
        margin: 0px;
    }
    #selectedColor td h2 {
        font-size: 13px;
        color: #404040;
    }
    #selectedColor td {
        vertical-align: top;
    }
    .clorsDiv {
        margin-top: 0px;
    }
    #availableSizes {
        height: auto;
        margin-bottom: 20px;
    }
    .button {
        font-family: Arial, Helvetica, sans-serif;
    }
    #selectedSize {
        color: #ec1e2a;
    }
    .modal-sl {
        padding-left: 0px;
        text-align: center;
        width: 95%;
        padding-top: 54%;
    }
    .plant {
        width: 90%;
    }
    .frm {
        padding: 20px 20px;
    }
    .plant {
        width: 90%;
    }
    .frm {
        padding: 20px 20px;
    }
    .pln_wrp {
        width: 97% !important;
    }
    .pln_wrp .row {
        margin: 0px;
    }
    .pln_wrp .col-md-4,
    .col-sm-4 {
        padding: 0px;
    }
    .pln_blk1 {
        margin-bottom: 30px !important;
    }
    .pln_blk1 .pln_lg {
        width: 15% !important;
        float: left !important;
        margin-top: 50px !important;
        margin-right: 10px !important;
    }
    .pln_blk1 h2 {
        text-align: LEFT !important;
        font-size: 19px !important;
    }
    .pln_blk1 .pln_cn {
        width: 55% !important;
        height: 80px !important;
        background-color: #fff !important;
        margin-top: 5px !important;
        float: left !important;
    }
    .pln_cn .month {     font-size: 12px; margin-top:0px;}
    .pln_blk1 .pln_cn { padding: 5px !important;}
    .pln_cn .price_number { font-size: 14px !important;}
    .pln_cn .month { margin-top: 0px !important;     font-size: 12px !important;}
    .pln_blk1 .pln_cn p {
        font-size: 11px !important;
        color: #676767 !important;
        text-transform: uppercase !important;
        padding-top: 0px !important;
        font-weight: 500 !important;
    }
    .pln_blk1 .btn1 {
        width: 22% !important;
        margin-left: 4% !important;
        font-size: 14px !important;
    }
    .pln_blk1 {
        height: 148px !important;
    }
    .pln_blk3 .pln_cn p {
        padding-top: 9px !important;
    }
    .speedbuy {
        width: 87%;
        margin-top: 65px;
        margin-left: 7%;
        text-align: center;
        display: none;
    }
    .thumbsWrapper { bottom: 280px;}
    #sbdesc h2 { font-size: 16px; margin-bottom: 10px; margin-top: 10px;}
    #sbdesc {
        height: auto;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .frm .form-group {
        width: 100%;
    }
    .frm_wrp {
        width: 100%;
    }
    .modal-sl {
        padding-left: 0px;
        text-align: center;
        padding-top: 50%;
    }
    .backto {
        display: block;
        margin: 10px 0 0 0 !important;
    }
    /*#productDesc { width:185px;}*/
    /*#DetailedPreview {     width: 200px; margin-left:40px; margin-right:20px;}*/
    
    .clorsDiv {
        width: 35px;
        height: 30px;
    }
    #selectedColor h2 {
        font-weight: normal;
    }
    .sizeDiv {
        min-width: 35px;
    }
    #quantity {
        margin-top: 10px;
    }
    .prdoTitle h1 {
        line-height: 22px;
        font-size: 18px;
    }
    .preimg {
        margin: 0px !important;
        width: 100%;
    }
    #thumbs {
        left: 40px;
        top: 90px;
    }
    #preview {
        top: 90px;
        left: 185px;
        width: 240px;
    }
    #preview img {
        width: 100%;
        margin-top: 0px;
    }
    .speedbuy2 {
        width: 240px;
        height: auto;
        left: 185px;
        top: 343px;
    }
    .dummy {
        height: inherit;
    }
    .pln_wrp {
        width: 93% !important;
    }
    .pln_blk1 {
        margin-bottom: 30px !important;
    }
    .pln_blk1 .pln_lg {
        width: 15% !important;
        float: left !important;
        margin-top: 5% !important;
        margin-right: 10px !important;
    }
    .pln_blk1 h2 {
        text-align: LEFT !important;
        font-size: 19px !important;
    }
    .pln_blk1 .pln_cn {
        width: 55% !important;
        height: 70px !important;
        background-color: #fff !important;
        margin-top: 5px !important;
        float: left !important;
    }
    .pln_blk1 .pln_cn p {
        font-size: 12px !important;
        color: #676767 !important;
        text-transform: uppercase !important;
        padding-top: 0px !important;
        font-weight: 500 !important;
        margin-top: 2px;
    }
    .pln_blk2 .pln_cn p {
        padding-top: 10px !important;
    }
    .pln_blk1 .btn1 {
        width: 22% !important;
        margin-left: 4% !important;
        font-size: 14px !important;
    }
    .pln_blk1 {
        height: 148px !important;
    }
    .pln_blk3 .pln_cn p {
        padding-top: 9px !important;
    }
    .speedbuy {
        padding-left: 7%;
    }
    .ddlogo {
        left: 40px;
    }
    .joinus {
        right: 40px;
    }
}
@media (min-width: 500px) and (max-width: 736px) {

    .frm .form-group {
        width: 100%;
    }
    .frm_wrp {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .modal-sl {
        padding-left: 0px;
        text-align: center;
        padding-top: 35%;
    }
    /*#productDesc { width:340px;}*/
    
    .clorsDiv {
        width: 35px;
        height: 30px;
    }
    .sizeDiv {
        min-width: 50px;
    }
    /*#DetailedPreview { margin-left:7%; margin-right:30px;     width: 280px;}*/
    
    #DetailedPreview img {
        margin: 0px;
    }
    #quantity {
        margin-top: 0px;
    }
    #thumbs {
        left: 7%;
        top: 70px;
    }
    .joinus {
        right: 7%;
        top: 10px;
    }
    .ddlogo {
        left: 7%;
    }
    #preview {
        width: 56%;
        left: inherit;
        right: 7%;
        top: 70px;
    }
    #preview img {
        width: 85%;
        margin-top: 0px;
    }
    .speedbuy2 {
        top: 65%;
        width: 43%;
        left: inherit;
        right: 7%;
    }
    .dummy {
        height: auto;
    }
    .button {
        margin: 5% auto 0 0;
        width: 100%;
    }
    #DetailedPreview img {
        width: 100%;
    }
    #availableSizes {
        display: inline-block;
    }
    .sizeDiv {
        margin-bottom: 20px;
    }
    #selectedSize {
        color: #e50914;
    }
    .modal-sl {
        padding-left: 0px;
        text-align: center;
    }
    .pln_wrp {
        width: 97% !important;
    }
    .pln_blk1 {
        margin-bottom: 30px !important;
    }
}
label {
    padding: 8px 0px 8px 0px;
}
#orderInfo {
    clear: both;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f7;
    border: 1px solid #fff;
    height: auto;
    padding: 100px 20px;
    margin-top: 30px;
    width: 100%;
    display: none;
    font-weight: bold;
}
#orderInfo span {
    color: #006699;
}
#cards {
    list-style: none !important;
    margin-top: 20px;
}
#cards li {
    color: #006699;
    padding: 4px;
    cursor: pointer;
}
.vertical li {
    float: left;
    width: 140px;
}
.inputLeft {
    width: 48px !important;
    float: left;
}
.inputRight {
    width: 48px !important;
    float: right;
}
.disable {
    opacity: 0.2;
}
.marginRight {
    margin-right: 10px;
}
#demoCards {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f7;
    border: 1px solid #fff;
    width: 200px;
    height: auto;
    float: left;
    margin-top: 30px;
    padding: 13px 20px;
    margin-left: 20px;
}
#paymentForm {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f7;
    border: 1px solid #fff;
    height: auto;
    padding: 13px 20px;
    margin-top: 30px;
}
#paymentForm span {
    color: #555555;
    font-size: 11px
}
#paymentForm h2 {
    color: #555;
    font-family: "ff-dagny-web-pro", "Helvetica Neue", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
}
#paymentForm li {
    margin: 8px 0;
}
#paymentForm li .help {
    color: #aaa;
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 14px;
}
#paymentForm li .help a {
    color: #76a1cd;
}
#paymentForm label {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 400;
}
#paymentForm input[type=text] {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #333;
    display: block;
    font-size: 18px;
    height: 32px;
    padding: 0 5px;
    width: 275px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
#paymentForm input::-webkit-input-placeholder {
    color: #ddd;
}
#paymentForm input:-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
#paymentForm input::-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
#paymentForm input:-ms-input-placeholder {
    color: #ddd;
}
#paymentForm input:focus {
    outline: 1px solid #3388dd;
}
#paymentForm #card_number {
    background-image: url(../imagesStore/images.png), url(../imagesStore/images.png);
    ;
    background-position: 2px -121px, 260px -61px;
    background-size: 120px 361px, 120px 361px;
    background-repeat: no-repeat;
    padding-left: 54px;
}
#paymentForm #card_number.visa {
    background-position: 2px -163px, 260px -61px;
}
#paymentForm #card_number.visa_electron {
    background-position: 2px -205px, 260px -61px;
}
#paymentForm #card_number.mastercard {
    background-position: 2px -247px, 260px -61px;
}
#paymentForm #card_number.maestro {
    background-position: 2px -289px, 260px -61px;
}
#paymentForm #card_number.discover {
    background-position: 2px -331px, 260px -61px;
}
#paymentForm #card_number.valid.visa {
    background-position: 2px -163px, 260px -87px;
}
#paymentForm #card_number.valid.visa_electron {
    background-position: 2px -205px, 260px -87px;
}
#paymentForm #card_number.valid.mastercard {
    background-position: 2px -247px, 260px -87px;
}
#paymentForm #card_number.valid.maestro {
    background-position: 2px -289px, 260px -87px;
}
#paymentForm #card_number.valid.discover {
    background-position: 2px -331px, 260px -87px;
}
#paymentButton {
    margin-top: 10px;
    padding: 14px 45px !important;
    background-color: #5fcf80;
    color: #fff !important;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
    border-width: 1px 1px 3px !important;
    border-style: solid;
    border-color: #3ac162;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}
.inputtext {
    border: 1px solid #999;
    color: #111 !important;
    padding: 8px 10px !important;
    border-radius: 0px !important;
    font-size: 13px !important;
}
.form-group {
    overflow: hidden;
}
.vertical .form-group {
    width: 30%;
    float: left;
}
.vertical {
    overflow: hidden;
}
.vertical .form-group input {
    width: 100%;
}
.txt {
    color: #000;
    font-size: 20px;
    margin-bottom: 0px;
}
.tablebg {
    background: #ddd;
}
.marbot0 {
    margin-bottom: 0px;
}
#paymentButton1 {
    margin-top: 10px;
    font-weight: bold;
    padding: 7px 20px;
    color: #fff !important;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    background: #ec1e2a;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
    border: 0px;
}
.ortext {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}
/*------------ Latest code -----------*/

.pln_logo {
    width: 100px;
    left: 140px;
    position: fixed;
    top: 20px;
}
.pln_logo img {
    width: 100%;
}
.pln_dm {
    width: 300px;
    position: fixed;
    left: 255px;
    top: 25px;
}
.pln_wrp {
    width: 1000px;
    margin: 0 auto;
}
.pln_wrp p {
    color: #202020;
}
.pln_wrp h2 {
    font-size: 16px;
    margin-bottom:0px;
    margin-top: 0px;
}
.pln_blk1 {
    background-color: #769fa5;
    width: 100%;
    height: 435px;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.pln_blk1 .pln_lg {
    width: 35%;
    margin: 0 auto;
}
.pln_blk1 .pln_lg img {
    width: 100%;
}
.pln_blk1 h2 {
    font-weight: normal;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}
.pln_blk1 .pln_cn {
    width: 100%;
    height: 200px;
    background-color: #fff;
    margin-top: 10px;
}
.pln_blk1 .pln_cn p {
    font-size: 18px;
    color: #5e5e5e;
    text-transform: none;
    padding-top: 10px;
}
.pln_blk1 .btn1 {
    background-image: url(../imagesStore/bnt1_bg.jpg);
    background-repeat: repeat-x;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    border: none;
    width: 80%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pln_blk1 .btn1:hover {
    background-image: none;
    background-color: #36838e;
}
.pln_blk2 {
    background-color: #e0b981;
}
.pln_blk2 .pln_cn p {
    font-size: 18px;
    color: #5e5e5e;
    text-transform: none;
    padding-top: 10px;
}
.pln_blk2 .btn1 {
    background-image: url(../imagesStore/bnt2_bg.jpg);
}
.pln_blk2 .btn1:hover {
    background-color: #9c7c4f;
}
.pln_blk3 {
    background-color: #7ba574;
}
.pln_blk3 .pln_cn p {
    font-size: 18px;
    color: #5e5e5e;
    text-transform: none;
    padding-top: 10px;
}

.pln_blk3 .btn1 {
    background-image: url(../imagesStore/bnt3_bg.jpg);
}
.pln_blk3 .btn1:hover {
    background-color: #4d6e4c;
}
.profile-pic {
    float: left;
    /* margin-top: 26px;
     margin-left: 30px; */
}
.login-btn {
    float: left;
    width: auto !important;
    /*  margin-top: 30px;
     margin-left: -24px; */
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #ccc;
}
/*My Account Page*/

.wrap {
    width: 80%;
    height: auto;
    min-height: 250px;
    margin: 100px auto 0 auto;
}
.accHead {
    color: #a9a9a5;
    margin-bottom: 20px;
    background-color: #ececec;
    padding: 10px;
    border-bottom: solid 2px #dadada;
}
.subhead {
    margin-top: 0 !important;
    font-weight: bold;
    color: #525252;
}
.nopad {
    padding: 0 !important;
}
.topdivbrd {
    border-top: 1px solid #333;
    padding: 15px 0 15px 0;
}
.botdivbrd {
    border-bottom: 1px solid #bdbdbd;
    padding: 15px;
    overflow: hidden;
}
.redtxt {
    color: #ff3333;
}
.rightaln {
    text-align: right !important;
    display: block;
}
.hidden {
    display: none;
}
.minheight {
    min-height: -80px !important;
    height: auto;
}
.xmembership {
    width: 190px;
    height: 40px;
    float: right;
    text-align: right;
    line-height: 40px;
    display: block;
    color: #a9a9a5;
    text-decoration: none;
    background-image: url('../imagesStore/cross.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12%;
}
.xmembership:hover {
    text-decoration: none !important;
    color: #ed1c24;
    background-image: url('../imagesStore/crossHover.svg');
}
.btns {
    width: 25px;
    height: 25px;
    display: inline-block;
    text-decoration: none;
    background-color: rgba(182, 84, 255, 0.98);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
}
.btns:hover {
    text-decoration: none;
    color: #fff;
}
.wrap {
    width: 80%;
    height: auto;
    min-height: 250px;
    margin: 100px auto 0 auto;
}
.accHead {
    color: #484848;
    margin-bottom: 0px;
    border: 0px;
    background: #efefef;
}
.returnlast {
    float: right;
    color: #666;
    text-decoration: none !important;
    font-weight: bold;
    margin-top: 13px;
    margin-right: 15px;
    color: #474747;
}
.rightaln {
    text-align: right !important;
    display: block;
}
.addlist {} .add_head {
    font-size: 16px;
    margin-bottom: 10px;
    color: #151515;
}
.add_p {
    font-size: 14px!important;
    margin-bottom: 0px;
}
.add_li {
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #e4e4e4;
}
.rt {
    float: right;
}
.dropdown-menu {
    margin: 18px 0 0 !important;
    right: 0 !important;
    left: inherit;
}
.pln_wrp {
    margin-top: 20px;
}
.pln_blk1 .pln_cn {
    text-align: center;
    padding: 20px 10px;
}
.pln_wrp p {
    font-size: 14px;
    color: #333;
}
.bth {
    float: right;
    color: #ec1e2a;
    font-size: 13px;
}
.btn:hover {
    text-decoration: none;
}
.bth span {
    font-size: 16px;
    color: #333;
    float: left;
    line-height: 17px;
    margin-right: 5px;
}
.btn-group>.btn:first-child {
    color: #fff;
}
.adr_tit {
    color: #313131;
    font-weight: bold;
    font-size: 15px !important;
    text-transform: uppercase;
}
.mac .returnlast {
    font-size: 14px;
    font-weight: normal !important;
    color: #ec1e2a;
    margin-top: 10px;
    margin-right: 15px;
}
.mac .accHead {
    color: #ec1e2a;
    font-size: 22px;
    background-color: #f9f9f9;
    padding: 8px 15px;
    border-bottom: solid 1px #efefef;
}
.mac .row {
    margin: 10px;
}
.mac h4 {
    color: #3a3a3a;
    font-size: 14px;
}
.rightaln {
    font-size: 12px;
    color: #ec1e2a;
}
.mac .botdivbrd {
    border-bottom: 1px solid #e8e8e8;
}
.mac p {
    font-size: 14px !important;
    color: #3a3a3a !important;
    margin-bottom: 5px !important;
}
.mac .logo-right-box {
    margin-right: 100px;
}
.blk {
    font-size: 14px;
    color: black;
}
.add_para {
    width: 80%;
}
.truncate {
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.w900 {
    width: 900px;
}
.add_txt {
    color: #000;
    font-size: 13px;
    line-height: 25px;
}
.adr_blk {
    color: #292929;
    font-size: 14px;
}
.adr_btn {
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
    line-height: 26px;
    display: inline-block;
    height: 27px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    background-color: rgb(110, 199, 255);
    float: right;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 80px;
    margin-right: 5px;
}
.adr_btn .span {
    font-size: 12px;
}
.adr_btn .span:active {
    text-decoration: none;
}
.adr_btn .span:hover {
    text-decoration: none;
}
.adr_btn:hover {
    text-decoration: none;
    color: #d2eeff;
}
.adr_btn1 {
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
    line-height: 26px;
    display: inline-block;
    height: 27px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    background-color: rgb(110, 199, 255);
    float: right;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 100px;
    margin-right: 5px;
}
.adr_btn1 .span {
    font-size: 12px;
}
.adr_btn1 .span:active {
    text-decoration: none;
}
.adr_btn1 .span:hover {
    text-decoration: none;
}
.adr_btn1:hover {
    text-decoration: none;
    color: #d2eeff;
}
.adr_edt {
    background-color: #51bb63;
}
.adr_dlt {
    background-color: #d25151;
}
.adr_add {
    background-color: #3F51B5;
}
.adr_blk td {
    margin-bottom: 10px;
    vertical-align: top;
}
.modal-title {
    font-size: 16px;
    color: #3c3c3c;
}
.crd {
    padding: 0px;
    border: none;
    margin-bottom: 0px;
}
#paymentForm {
    margin-top: 0px;
    padding: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
#paymentForm label {
    padding: 0px;
    margin: 0px;
    margin-bottom: 3px;
}
#paymentForm input {
    width: 100%;
}
#cvv {
    width: 40px !important;
}
#expiry_month {
    width: 100px !important;
}
#expiry_year {
    width: 100px !important;
}
.vertical .form-group {
    width: 23%;
}
.btn-danger {
    float: left;
}
#paymentForm input[type=text] {
    border: 1px solid #d4d4d4;
}
#productDesc .table {
    margin-bottom: 0px;
}
#availableColors {
    margin-bottom: 10px;
    overflow: hidden;
}
.confirmContainer .button {
    display: inline-block !important;
}
.add_adr .form-control {
    border-radius: 0px !important;
    height: auto;
}
.backto {
    cursor: pointer;
    margin: 10px 20px;
    color: #111;
    font-weight: bold;
    display: inline-block;
}
.ortitle {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.terms {
    padding: 20px;
    text-align: justify;
    font-size: 12px;
}
.headcon {
    margin-bottom: 10px;
}
.formdevice .form-group {
    float: left;
}
.formdevice .form-group .form-control {
    border-radius: 0px;
}
.formdevice .btn {
    width: auto;
    border-radius: 0px;
}
.redtxt {
    color: #ff3333 !important;
}
.pay_amt {
    margin-bottom: 20px;
    font-size: 22px;
    color: #ec1e2a;
    text-align: center;
}
.ord_succ {
    color: green;
    font-size: 25px;
}
.plan {
    text-transform: uppercase;
}
.spb {
    width: 120px;
    margin-top: 20px;
    height: 38px;
    margin-left: 10px;
}
.pb {
    width: 80px;
    margin-top: 10px;
    height: 37px;
}
.spbb {
    width: 120px;
}
.tablee tr td {
    padding: 10px 20px;
}
.tablee .form-group {
    margin: 0px;
    width: 100%;
}
.tablee tr {
    border-bottom: 1px solid #ddd;
}
.tablee {
    border: 1px solid #ddd;
    width: 100%;
}
.pagedetails section {
    position: relative;
    border-top: 1px solid #CFCFCF;
    padding: 30px 20px;
}
.bordernone {
    border: 0px !important;
}
.headtext {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #474747;
    margin-bottom: 10px;
}
.pagedetails section p {
    font-size: 13px;
    color: #5e5e5e;
    letter-spacing: 1px;
}
.pagedetails .eright {
    position: absolute;
    right: 20px;
    margin-top: -30px;
    text-align: right;
}
.pagedetails .link {
    display: inline-block;
    border-bottom: 1px solid #929292;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.066em;
    line-height: 1.6em;
    color: #5e5e5e;
    text-decoration: none;
    cursor: pointer;
}
.pagedetails .eright .link:hover {
    text-decoration: none;
}
.etable {
    display: table;
}
.pagedetails li {
    border-top: 1px solid #EBE9E9;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.padd10 {
    padding: 10px !important;
}
.roungic {
    border-radius: 50px;
    border: 2px solid #929292;
    border-bottom: 2px solid #929292 !important;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px !important;
    font-weight: bold !important;
    display: inline-block;
}
.modal-content,
.btn {
    border-radius: 0px !important;
}
.bgbordernone {
    background: none !important;
    border: none !important;
    color: #333 !important;
    font-weight: bold;
}
.borderrad {
    border-radius: 50px !important;
    font-size: 12px;
    width: 30px;
    height: 30px;
    padding: 0px;
}
.thanks {
    width: 50%;
}
.btnreal {
    background-color: #ec1e2a;
    border: 0px !important;
    border-radius: 3px !important;
    padding: 10px 20px;
    color: #fff !important;
}
.btnreal:hover {
    color: #fff !important;
}
.padleft20 {
    padding-left: 20px;
}
.pln_cn sup {
    font-size: 2em;
}
.pln_cn .price_number {
    font-family: "Brandon", Helvetica, Arial, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-size: 3em;
    color: #30373b;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
}
.pln_cn .month {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.5em;
}
.wid25 {
    width: 25%;
}
.overflhid {
    overflow: hidden;
    padding: 20px 0px;
}
.spanor {
    font-size: 14px;
    padding: 25px;
}
.btnanywhere {
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: arial;
    width: 35%;
    display: inline-block;
}
.btnanywhere:hover {
    color: #ffffff;
    text-decoration: none;
}
.redbtncolor {
    background-color: #ec1e2a;
}
.greenbtncolor {
    background-color: green;
}
.precenter-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90px;
    height: 90px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.preloader_logo {
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 10px 10px;
}
.preloader34 {
    width: 90px;
    height: 90px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 6px solid;
    position: absolute;
    border-top-color: rgba(236, 28, 35, 1);
    border-bottom-color: rgba(236, 28, 35, 1);
    border-left-color: rgba(242, 178, 181, 1);
    border-right-color: rgba(242, 178, 181, 1);
    -webkit-animation: preloader3 0.8s ease-in-out infinite alternate;
    animation: preloader3 0.8s ease-in-out infinite alternate;
}
@keyframes preloader3 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes preloader3 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
.redbord {
    border: 1px solid #f00;
}

#user_button {
    display: none;
}
.displayBlock {
    display: block !important;
}

.colorbill {
    color: #a52a2a !important;
}
.colorship {
    color: #d2691e !important;
}

.loginafter {
    background-color: #1b1b1b;
    cursor: pointer;
    font-size: 14px;
    line-height: 15px;
    border: solid 1px #fff;
    text-align: center;
    color: #fff;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

.btn-group .dropdown-menu{
    margin-top:5px !important;
}

.volumee {
    padding: 3px 10px 3px 5px;
    float: left;
    cursor: pointer;
}
.volumee img {
    width: 24px;
}

.closebt {
   padding: 5px 10px;
    border-radius: 100px;
    background: #333;
    color: #fff;
    position: absolute;
    right: 15px;
    margin-top: -50px;
}
.closebt:hover {
      color: #ddd;
    }





#volwrapper {
    position: absolute;
    left:60%;
    z-index: 99;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    padding-right: 10px;
}

#volwrapper input[type=range] {
    outline: none;
    padding: 0;
    width: 70px;
    height: 6px;
    background-color: #333;
    background-image: -webkit-linear-gradient(#fb092a,rgb(202, 10, 27));
    background-image: -moz-linear-gradient(#fb092a,rgb(202, 10, 27));
    background-image: linear-gradient(#fb092a,rgb(202, 10, 27));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    vertical-align: middle;
    margin-top: 11px;

}
#volwrapper input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}
#volwrapper input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}


#volwrapper input[type=range]::-webkit-slider-thumb {
    width: 4px;
    height: 15px;
    border: 0;
    background: #fff;
    -webkit-appearance: none;
}
#volwrapper input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    border:1px solid #333;
    box-shadow: 2px 8px 3px rgba(0,0,0,0.2);
    -webkit-appearance: none;
}

.bitdash-ctrl{
    top: 0 !important;
    width: 25%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    left: 35%;
}
.bitdash-mute-w, .bitdash-ctrl button[data-state=go-fs] {
    display: none !important;
}

.footerbar {
    padding: 20px;
    border-top: 1px solid #aaa;
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}

/* #mainBody:hover #volwrapper {
    display: block;
}
#mainBody:hover .bitdash-ctrl{
    opacity: 1;
} */

.bitdash-ctrl{
    opacity: 1;
}
.margin20less {
    margin-top: -30px;
}
.didd, .sdt, .rpd {
        width: 20%;
    display: inline-block;
        padding: 5px 10px;
    border: 1px solid #ddd;
}

#player {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

/* video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
 */
#sliderfor .slick-slide {
    margin: 0px !important;
}
/* .homeactive,.btnact {
    border: 5px solid #333;
} */
.clearfix {clear:both;}
.btnact {
    transform: scale(1.1);
}

.addressBook {
    overflow: hidden;
       height: 75vh;
       font-size: 1.25vw;
}
#addressbooknew {
        font-size: 1.25vw;
    line-height: 3vw;
}

.fontnormal {
    font-size: 1.25vw;
    margin-bottom: 0.8vw;
}

.fontlarge {
    font-size: 2vw;
    margin: 2vw 0;
}
#preview_Sku {
    margin-bottom: 1vw;
}
.prd_tmb,.previewimg,.prd_des {
    margin-top: 2vw;
}
#preview_Thumb li.border {
    border: 0.25vh solid #c8a985;
}
.sizeborder {
padding: 0.5vw 1vw;
    background: #bbb;
    border: 0.2vw solid #bbb;
    margin: 0 0.5vw 5px 0;
    font-size: 1.25vw;
    line-height: 1.8;
    display: inline-block;

} 
.sizeborder_active{
    border: 0.2vw solid #333 !important;
}
.sizebordact{
    border: 0.2vw solid #ddd;
}
.bordact{
    outline: 0.1vw solid #ddd;
}
.colorborder {
padding: 0.5vw 1.5vw;
    background: #eee;
    border: 0.2vw solid #fff;
    margin: 0 1vw 0 0;
    font-size: 1.25vw;
    outline: 0.1vw solid #c8a985 !important;
} 
.colorborder_active{
    border: 0.2vw solid #333;
    outline: 0.1vw solid #333 !important;
}
.valueIncrementActive {
    transform: scale(1.2);
}
.textzoom {
        font-size: 1.5em !important;
}
.innerdivpro {
    padding: 1.25vw 0 1.25vw 0.25vw;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
}
.valueincrement, .valuedecrement {
    border: 0.15vw solid #333 !important;
}
.continueactive {
   /* font-size: 1.4vw !important;
     color: #333 !important; */
}
#OS_OrderImg {
    width: 90%;
}
.bgactivecolor {
    background: #127826 !important;
}
.borderactivecolor {
   border: 0.4vh solid #127826 !important;
   color: #127826 !important;
   background: #127826 !important;
}
.borderblackactivecolor {
     border: 0.4vh solid #333333 !important;
     color: #333333 !important;
    background: #333333 !important;
}
.bgblackactivecolor {
    background: #333333 !important;

}

.backcolor {
    border: 0.4vh solid #333333 !important;
}

.selcvalues {
    float: right;
    margin-right: 3vw;
    color: #127826;
    font-size: 1.6vw;
}
.selvalcolor {
    float: right;
    margin-right: 3vw;
    border: 0.1vw solid #127826;
    width: 2vw;
    height: 2vw;
}

.oscolor {
    padding: 0.7vw;
    display: inline-block;
    border: 0.2vw solid #fff;
    outline: 0.1vw solid #c8a985 !important;
}
#ProductDetails, #addressDetailsDiv,#orderblock {
    background-color: #fff;
    height: 100vh;
}

#appLogo {
    width: 10vw;
}


.logoloader {
    width: 20vw !important;
    margin-top: 18vw;
}

.loaderDivBg {
    background: #171717;
    height: 100%;
    width: 100%;
    position: absolute;
}

.shadow{
    width: 70vw;
    height: 8vw;
    margin-top: 5vw;
}

.loader {
  width: 0px;
  height: 0px;
  margin: 3vw auto 0 auto;
  position: relative;
}

.loader > div {
  width: 0.42vw;
  height: 1.39vw;
  position: absolute;
  left: -0.69vw;
  bottom: 1.04vw;
  border-radius: 0.35vw;
  transform-origin: 0.69vw 2.43vw;
  transform: rotate(0deg);
  animation: loader 0.8s infinite;
}
.loader > div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: 0.1s;
}
.loader > div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: 0.2s;
}
.loader > div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: 0.3s;
}
.loader > div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: 0.4s;
}
.loader > div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: 0.5s;
}
.loader > div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: 0.6s;
}
.loader > div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0.7s;
}

@keyframes loader {
  0% {
    background: transparent;
    left: -0.69vw;
    transform-origin: 0.69vw 2.43vw;
  }
  30% {
    background: #f00;
  }
  100% {
    background: transparent;
    left: 0.69vw;
    transform-origin: -0.69vw 2.43vw;
  }
}



/* Let's get this party started */
::-webkit-scrollbar {
    width: 0.2vw;
    height: 0.8vw;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.3vw rgba(0,0,0,0.3); 
    -webkit-border-radius: 30vh;
    border-radius: 30vh;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 30vh;
    border-radius: 30vh;
    background: rgba(0,0,0,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

.innerdivproSize{
     padding: 1.25vw 0 1.25vw 0.25vw;
   /* white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;*/
    width: 100%;
    /* height: 105%; */
    /* overflow: hidden; */
    /* width: 400px; */
    word-wrap: break-word;
}
