#a0-onestep .a0-header {
 background:transparent !important;
}

#a0-onestep .a0-header  .a0-bg-gradient {
 position:inherit !important;
}

#a0-onestep .a0-body-content {
/*    background:#1a1a1a !important;*/
    background-color: transparent !important;
}
/*#a0-lock.a0-theme-default .a0-popup .a0-centrix .a0-panel { background:#1a1a1a !important; }*/

#a0-lock.a0-theme-default .a0-switch span { color:#bababa !important}

.a0-primary { background: rgba(27, 27, 27, 0) !important; bottom:0px !important;}

#a0-lock.a0-theme-default .a0-panel .a0-close { background:#434343 !important;
    border: 6px solid #434343 !important; }

#a0-lock.a0-theme-default .a0-panel .a0-email input, #a0-lock.a0-theme-default .a0-panel .a0-password input, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword input, #a0-lock.a0-theme-default .a0-panel .a0-username input {
/*background-color: transparent !important;*/
 background-color: #1d1d1d !important;
 color: #ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-mode form .a0-body-content {padding-top: 0;}
#a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box {
 background:#343434 !important;
     border: 1px solid #343434 !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-all, #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    color:#ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-separator {
color:#ddd !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-top-header h1 {
    color:#ddd !important;
}

.a0-footer {
    display:none !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-instructions, #a0-lock.a0-theme-default .a0-panel .a0-separator {font-size: 10px;}
#a0-lock.a0-theme-default .a0-panel .a0-mode-container {
    background: transparent !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-sso-notice-container {
background-color: transparent !important;
/*    background: #1a1a1a !important;*/
/*    color: #ddd !important;*/
}
#a0-lock.a0-theme-default .a0-panel .a0-mode {
background-color: transparent !important;
/*    background: #1a1a1a !important;*/
}

.a0-close svg polygon { fill:#fff !important; }


#a0-lock .a0-overlay.a0-active{
    overflow-y: scroll !important;
    display: block !important;
    overflow: hidden;
}
.a0-lock-open{
    overflow: hidden !important;
}
#a0-lock .a0-overlay.a0-active .a0-centrix{
    display: block !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-action button:after
{
position: inherit !important;
margin-left: 50% !important;
}
#a0-lock.a0-theme-default .a0-panel button.a0-primary{
    position: inherit !important;
}
#a0-lock.a0-theme-default .a0-zocial.a0-aol {
    background-color: transparent !important;
/*    background-color: #0861A8;*/
/*    color: #fff;*/
}
#a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image img {
  display:none !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image {
 background-image: url(../images/icons/96x96.png) !important;
    background-size: 72px 72px !important;
    background-repeat: no-repeat !important;
  background-position: center !important;
    height: 125px !important;
}
#a0-lock.a0-theme-default .a0-popup .a0-overlay
{
  background-color: transparent !important;

}

.a0-zocial.a0-icon.a0-amazon { background-image:url(../images/auth/amazon_ico.png) !important; background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 75px !important; background-color: transparent !important;
    width: 50px !important;
    }
.a0-zocial.a0-icon.a0-facebook { background-image:url(../images/auth/facebook_ico.png) !important; background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 75px !important; background-color: transparent !important;
    width: 50px !important;}
.a0-zocial.a0-icon.a0-googleplus  { background-image:url(../images/auth/google_ico.png) !important; background-size: 105% !important;
    background-repeat: no-repeat !important;
    background-position: center 7px !important;
    height: 75px !important; background-color: transparent !important;
    width: 50px !important;}
.a0-zocial.a0-icon.a0-soundcloud { background-image:url(../images/auth/cloud.png); background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 75px !important; background-color: transparent !important;
    width: 50px !important;}
.a0-zocial.a0-icon.a0-twitter { background-image:url(../images/auth/twitter_ico.png); background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 75px !important; background-color: transparent !important;
    width: 50px !important;}
.a0-zocial.a0-icon.a0-yahoo { background-image:url(../images/auth/yahoo_ico.png); background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 75px !important; background-color: transparent !important;
    width: 50px !important;}
.a0-zocial.a0-icon.a0-linkedin { background-image:url(../images/auth/linkedin_ico.png); background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 75px !important; background-color: transparent !important;
    width: 50px !important;}
#a0-lock.a0-theme-default .a0-zocial.a0-facebook{ background-color:transparent !important;}

#a0-lock.a0-theme-default .a0-zocial.a0-facebook:before{ position:absolute; left:-1000px; content:"" !important;}
#a0-lock.a0-theme-default .a0-zocial.a0-amazon:before{ position:absolute; left:-1000px; content:"" !important;}
#a0-lock.a0-theme-default .a0-zocial.a0-googleplus:before{ position:absolute; left:-1000px; content:"" !important;}
#a0-lock.a0-theme-default .a0-zocial.a0-soundcloud:before{ position:absolute; left:-1000px; content:"" !important;}
#a0-lock.a0-theme-default .a0-zocial.a0-twitter:before{ position:absolute; left:-1000px; content:"" !important;}
#a0-lock.a0-theme-default .a0-zocial.a0-yahoo:before{ position:absolute; left:-1000px; content:"" !important;}
#a0-lock.a0-theme-default .a0-zocial.a0-linkedin:before{ position:absolute; left:-1000px; content:"" !important;}
#a0-lock.a0-theme-default .a0-switch span{
font-size: 11px !important;
letter-spacing: .3px !important;
text-transform: none !important;
/* color: #5C666F; */
/* display: block; */
width: 100% !important;
float:  !important;;
padding: 8px 0 !important;
font-weight: 500 !important;
}
#a0-lock.a0-theme-default .a0-switch{border: none !important;}
#a0-lock.a0-theme-default .a0-switch .a0-active{background-color: transparent !important;}
#a0-lock.a0-theme-default .a0-popup .a0-overlay{background-color: transparent !important;}
#a0-lock.a0-theme-default .a0-popup .a0-centrix .a0-panel{background-color: transparent !important;}
#a0-lock.a0-theme-default .a0-panel .a0-bg-gradient{background-color: transparent !important;}
.a0-lock-container{background: transparent !important;}
body.a0-lock-open>*{display: block !important;}
iframe{display: none !important; border:none !important; outline:none !important;}
