.srch_blk { background-color:#000; height:70px; width: 90%;
    margin-top: 18px;
    margin-left: 10px;}
.srch { width:100%; float:right;}
.sc_icn { width:19px; height:26px; float:left;  margin-top:12px; background-image:url(../img/src_ico.png); background-repeat:no-repeat; background-size:100%;}
.sc_blk { border-bottom:solid 1px #6a6a6a; float:left; width:80%; margin-top:0px; margin-left:15px; background-image:url(../img/bd.jpg); background-repeat:no-repeat; background-position:bottom right;}
.srch input { border:none; background-color:transparent;     padding: 10px 10px 10px 10px; color:#fff; font-size:15px; background-image:url(../img/bd.jpg); background-repeat:no-repeat; background-position:bottom right;}
::-webkit-input-placeholder { color:#585858; font-size:15px;  }
::-moz-placeholder { color:#585858; font-size:15px; } /* firefox 19+ */
:-ms-input-placeholder { color:#585858; font-size:15px; } /* ie */
input:-moz-placeholder { color:#585858; font-size:15px; }
.mic { width:20px; height:30px; float:right;  margin-right:13px; background-image:url(../img/mic.png); margin-top:5px; background-repeat:no-repeat; background-size:100%;}
.sc_blk::before {content: "text"; background-image:url(../img/bd.jpg); background-repeat:no-repeat; background-position:bottom left; float: left;
    width: 1px; margin-top: 22px; text-indent:-999px;}
.srh_fl .mic { display:none;}
.srh_fl input { width:99%; box-sizing: border-box; background-image:none;}
.srh_cn { width:100%;}
.srh_cn .ps { color:#fff; font-size:18px; text-align:center; padding-top:50px;}


